<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>chat-js</title>
</head>

<body>
    <h1>chat-js</h1>

    <main class="container-flex row" id="app">

        <div class="col-2" id="salons">
            <button @click="goChats(chats)" type="button">Chats</button><br>
            <button @click="goSalon2()" type="button">salon2</button>

        </div>

        <div class="col-8 justify-content-center" id="textChat">

            <ul v-if="salon == 'chats'">
                <li v-for="(chat, index) in chats">
                    <span class="displayPseudo">{{chat.pseudo}}</span> - <span>{{chat.date}}</span>
                    <div>
                        <span class="{disabled:chat.termine} displayMessage" v-if="chat.edit == false"
                            @dblclick="editMessage(chat)">{{chat.value}}</span>
                        <input v-if="chat.edit == true" type="text" class="modifyInput" v-model="chat.value" v-focus
                            v-on:keyup.enter="editInputMessage(chat)">
                            <i @click="deleteMessage(index)" class="fas fa-times"></i>
                        <!-- <button @click="deleteMessage(index)">supprimer</button> -->
    
                    </div>
    
                   <hr> 
                </li>
            </ul>

            <ul v-if="salon == 'salon2'">
                <li v-for="(salon2, index) in salon2s">
                    <span class="displayPseudo">{{salon2.pseudo}}</span> - <span>{{salon2.date}}</span>
                    <div>
                        <span class="{disabled:salon2.termine} displayMessage" v-if="salon2.edit == false"
                            @dblclick="editMessage(salon2)">{{salon2.value}}</span>
                        <input v-if="salon2.edit == true" type="text" class="modifyInput" v-model="salon2.value" v-focus
                            v-on:keyup.enter="editInputMessage(salon2)">
                            <i @click="deleteMessage(index)" class="fas fa-times"></i>
                        <!-- <button @click="deleteMessage(index)">supprimer</button> -->
                    </div>
                    <hr>
                </li>
            </ul>
    
            <form id="blocTextArea" onsubmit="return false">
                <!-- <span v-if="editPseudoInput == true">Pseudo :</span> -->
                <!-- <span v-if="editPseudoInput == false" >{{this.user}}</span> -->
                <button v-if="editPseudoInput == false" type="button" @click="editPseudoInput = true">Changer le
                    pseudo</button>
                <input v-if="editPseudoInput == true" type="text"  v-on:keyup.enter="changePseudo()" v-model="user" placeholder="Pseudo"
                    id="pseudouser"><br>

                

                <textarea id="messenger" v-on:keyup.enter="envoyerMessage()" v-model="message" placeholder="Tapez votre message" rows="5"></textarea>

                <!-- <input type="text" v-on:keyup.enter="envoyerMessage()" v-model="message" id="messenger"> -->

                <i id="envoyer" title="Envoyer" @click="envoyerMessage()" class="fas fa-paper-plane"></i>
                <!-- <button @click="envoyerMessage()" type="button">envoyer</button> -->
    
                
                
            </form>
        </div
        >
        <ul class="col-2" id="listUtilisateurs">
            <li v-for="(listUser, index) in listUsers">
                {{listUser.user}}
            </li>
        </ul>
        
    </main>
    <script src="js/vue.js"></script>
    <script src="js/moment-with-locales.js"></script>
    <script src="js/app.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.bundle.js"></script>
</body>

</html>