*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
body{
    background: linear-gradient(to left,rgb(233, 144, 89),rgb(213, 176, 69));

}

main{
    
    
    background: linear-gradient(to left,rgb(255, 255, 255)49.9%,rgb(236, 236, 236)50%);
    height: 95vh;
    margin-top: 2.5vh;
}

img{
    display: block;
    width: 100%;
    height: auto;

}

.icons{
    width: 2rem;
    height: 100%;
    margin-right: 1rem;

}

.iconCircle{
    height: 7rem;
    color: #eb4d4d;
}


#blocTop{
    
    margin-bottom: 20vh;
    height: 40vh;
}

#player1, #player2{
    font-size: 4rem;
}
#ScorePlayer1, #ScorePlayer2{
    font-size: 11rem;
    color: #eb4d4d;
}
#blocBottom{
    
    height: 17vh;

} 

#current1,#current2{
    font-size: 2rem;
}



.currentScore{
    max-width: 280px;
    background: #eb4d4d;
}


#RollHold{
    margin: 0 11%;
    font-size: 1.6rem;
    display: flex;
flex-direction: column;
justify-content: space-between;
}
#ScoreCurrent2,#ScoreCurrent1{
    color: white;
    font-size: 4rem;
}
.liensJeu{
    outline: none;
}