
nav
{

background-color:white;
height: 50px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding-left: 300px;
padding-right: 300px;

}

nav ul {
    display: flex;
    flex-direction: row;
   
}

a {
 color:black;
}

.landingpage{

display: flex;
flex-direction: column;
align-items: center;
background-image: url(../img/intro-bg.jpg);
padding-top: 100px;
padding-bottom: 100px;
color: white;
}

.landingpage p{

    display: flex;
    justify-content:  center;
    font-size: 20px;
    color:white;
   
}

.landingpage h1{

    display: flex;
    justify-content:  center;
    font-size: 50px;
   
}


hr{
    width: 300px;
    display: flex;
    flex-direction: row;
    color: black;
    
   

}

.landingpage ul{

    display: flex;
    flex-direction: row;
    justify-content: center;
   
}

i {

padding: 10px 30px;
background:white;
color: #000000;
-webkit-border-radius: 11px;
-moz-border-radius: 11px;
border-radius: 11px;
border: 2px solid #46a28d;
}
i:hover {
background: #34393E;
color: #5EB6DD;
}


section{

    height: 300px;
    width: 1412px;
    background-color: white;
    border-color: 1px black solid;
    display: flex;
    flex-direction:  row;

    

}

.article{

    width: 100%;
    padding-left: 50px;
    padding-right:50px;


}

footer{

    height: 200px;
    width: 1412px;
    background-image: url(../img/intro-bg.jpg);
    color: white;
    font-size: 15px; 

}

.white{

height:300px;

}

h2{

    font-size: 20px;
}


.container{

display:flex;
align-items: center;
justify-content: center;
padding-left:150px ;

}

.container2 ul{

    display:flex;
    flex-direction: row;
}

.blue{
    height: 300px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/banner-bg.jpg);
    background-position: center;
    color: white;
}

.blue p{
    color: white;
}

.grey{

color: blue;
height: 30px;
display: flex;
flex-direction: column;

}

.container3 ul{

    display:flex;
    flex-direction: row;
 
    }



p{color: black; padding-left: 80px;}
