.body
{
    display: flex;
    justify-content: center;
    background-size: cover;
    height: 1010px;
   
}

h1{
    color: blue; 
    font-size:30px;
}

header {
    background-image: url(intro-bg.jpg);
}
#top_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    background-color: rgb(192, 192, 192);
}
nav {
    text-align: center;
    display: flex;
}
nav ul li{
    display: inline;
    color: black;
}
nav ul a li:first-child{
    align-self: flex-start;
}
#menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 280px;
    justify-content: space-between;
}

#banner {
    background-image: url(intro-bg.jpg);
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

footer {
    background-image: url(intro-bg.jpg);
    color: white;
    height: 300px;
    justify-content: center;
}
article {

    display: flex;
    justify-content: space-around;
    width: 1900px;
    margin: auto;
    background-color: rgb(233, 232, 232);
}
#phone{
    display: flex;
    justify-content: left;
    background-color: rgb(201, 201, 201);
}
