body {

    width: 1400px;
    height: 1010px;
    background-color: black;
    background: url('images/bg.jpg');
    color: blue;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Bitter';
    font-family: 'Josefin Sans';
     
}


#conteneur{
    /* border: 5px solid red; */ 
    background-color: white;
    width: 1020px;
    height: 1010px;
}

h1{
    font-size: 18px;
    text-align: left;
    font-family: 'Bitter';
}

h2{
    font-size: 18px;
    text-align: center;
}
h3{
    font-size: 110px;
    text-align: left;
}

p{
    text-align: left;   
}

header {

   /* border: 5px solid gray; */
    width: 1020px;
    height: 320px;
    display: flex;
    justify-content: center;

}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

#titre {
    /* border: 5px solid gray; */
    background-color: black;
    color: yellow;
    width: 1020px;
    height: 320px;
    display: flex;
    justify-content: center; 
}
#barre {
    /* border: 5px solid gray; */
    background-color: black;
    color: white;
    width: 1020px;
    height: 60px;
    display: flex;
    justify-content: center; 
}

#social {
    /* border: 5px solid gray; */
    background-color: gray;
    width: 1020px;
    height: 60px;
    display: flex;
    justify-content: justify; 
}
#descriptif {
    /* border: 5px solid gray; */
    background-color: white;
    width: 900px;
    height: 90px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;

}
#produits {
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    /* border: 5px solid gray; */
    width: 900px;
    height: 675px;
    justify-content: center;
}
#produit1 {
    /* border: 5px solid gray; */
    width: 260px;
    height: 480px;
    margin-top: 70px;
    margin-right: 30px;
}
#produit2 {
    /* border: 5px solid gray; */
    width: 260px;
    height: 480px;
    margin-top: 70px;
    margin-right: 30px;
}
#produit3 {
    /* border: 5px solid gray; */
    width: 260px;
    height: 480px;
    margin-top: 70px;
    margin-right: 30px;
}
