<<<<<<< HEAD
.body
{

display: flex;
justify-content: center;
background-size: cover;
height: 1010px;

=======

.body
{
    
    display: flex;
    justify-content: center;
    background-size: cover;
    height: 1010px;
   
>>>>>>> deb31975f8ad7e8569d605a20b46239ca0e99de9
}

h1
{
<<<<<<< HEAD
color: rgb(255, 255, 255); 
font-size:60px;
=======
    color: rgb(255, 255, 255); 
    font-size:60px;
>>>>>>> deb31975f8ad7e8569d605a20b46239ca0e99de9
}


header 
{

<<<<<<< HEAD
background-image: url(images/header.jpg);
=======
    background-image: url(images/header.jpg);
>>>>>>> deb31975f8ad7e8569d605a20b46239ca0e99de9

}

#top_menu
{

<<<<<<< HEAD
display: flex;
justify-content: space-around;
align-items: center;
height: 40px;

=======
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    
>>>>>>> deb31975f8ad7e8569d605a20b46239ca0e99de9
}

nav ul li
{

<<<<<<< HEAD
display: inline;
flex-direction: column;
color: rgb(255, 251, 251);
=======
    display: inline;
    flex-direction: column;
    color: rgb(255, 251, 251);
>>>>>>> deb31975f8ad7e8569d605a20b46239ca0e99de9

}

.nav{
<<<<<<< HEAD
 
text-align: center;
display: flex;
=======
     
    text-align: center;
    display: flex;
>>>>>>> deb31975f8ad7e8569d605a20b46239ca0e99de9

}

#banner 
{  
<<<<<<< HEAD
height: 900px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
=======
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
>>>>>>> deb31975f8ad7e8569d605a20b46239ca0e99de9
}

footer 
{
<<<<<<< HEAD
background-image: url(intro-bg.jpg);
color: white;
height: 300px;
justify-content: center;
=======
    background-image: url(intro-bg.jpg);
    color: white;
    height: 300px;
    justify-content: center;
>>>>>>> deb31975f8ad7e8569d605a20b46239ca0e99de9
}

#zone1 
{
<<<<<<< HEAD
height: 300px ;
display: flex;
flex-direction:row; 
justify-content: center;
align-items: center;
text-align: center;
background-color: white;
=======
    height: 300px ;
    display: flex;
    flex-direction:row; 
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
>>>>>>> deb31975f8ad7e8569d605a20b46239ca0e99de9
}

#zone2 
{
<<<<<<< HEAD
height: 300px ;
display: flex;
flex-direction:row; 
justify-content: center;
align-items: center;
text-align: center; 
background-color:grey;
=======
    height: 300px ;
    display: flex;
    flex-direction:row; 
    justify-content: center;
    align-items: center;
    text-align: center; 
    background-color:grey;
>>>>>>> deb31975f8ad7e8569d605a20b46239ca0e99de9
}

#zone3
{
<<<<<<< HEAD
height: 300px;
background-color: rgb(241, 241, 241); 
=======
    height: 300px;
    background-color: rgb(241, 241, 241); 
>>>>>>> deb31975f8ad7e8569d605a20b46239ca0e99de9
}

#article3
{
<<<<<<< HEAD
display: flex;
flex-direction: row; 
justify-content: center;

=======
    display: flex;
    flex-direction: row; 
    justify-content: center;
   
>>>>>>> deb31975f8ad7e8569d605a20b46239ca0e99de9

}

#zone4
{
<<<<<<< HEAD
height: 250px ;
border: 1px black solid;
=======
    height: 250px ;
    border: 1px black solid;
>>>>>>> deb31975f8ad7e8569d605a20b46239ca0e99de9
}

#article4 h2
{
<<<<<<< HEAD
display: flex;
flex-direction: row;
justify-content: center;

=======
    display: flex;
    flex-direction: row;
    justify-content: center;
    
>>>>>>> deb31975f8ad7e8569d605a20b46239ca0e99de9
}

#article4 p 
{
<<<<<<< HEAD
display: flex;
flex-direction: row;
justify-content: center;

=======
    display: flex;
    flex-direction: row;
    justify-content: center;
    
>>>>>>> deb31975f8ad7e8569d605a20b46239ca0e99de9
}



#icons 
{
<<<<<<< HEAD
display: flex;
flex-direction: row;
justify-content: space-around;

=======
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
>>>>>>> deb31975f8ad7e8569d605a20b46239ca0e99de9
}

.webdesign
{
<<<<<<< HEAD
display: flex;
flex-direction: column;
text-align: center;
=======
    display: flex;
    flex-direction: column;
    text-align: center;
>>>>>>> deb31975f8ad7e8569d605a20b46239ca0e99de9

}

.webdeveloppement  
{
<<<<<<< HEAD
display: flex;
flex-direction: column;
text-align: center;
=======
    display: flex;
    flex-direction: column;
    text-align: center;
>>>>>>> deb31975f8ad7e8569d605a20b46239ca0e99de9


}

.seo
{
<<<<<<< HEAD
display: flex;
flex-direction: column;
text-align: center;
=======
    display: flex;
    flex-direction: column;
    text-align: center;
>>>>>>> deb31975f8ad7e8569d605a20b46239ca0e99de9

}

#corps 
{
<<<<<<< HEAD
height: 500px;
background-color: #222F36;
display: flex;
flex-direction: row;
=======
    height: 500px;
    background-color: #222F36;
    display: flex;
    flex-direction: row;
>>>>>>> deb31975f8ad7e8569d605a20b46239ca0e99de9

}

footer 
{
<<<<<<< HEAD
background: #292825;
display: flex;
flex-direction: column;
color: #e6e49a; 

}
footer .link-footer 
{
  display: flex;
  padding: 0 15%;
=======
    background: #292825;
    display: flex;
    flex-direction: column;
    color: #e6e49a; 
   
}
footer .link-footer 
{
      display: flex;
      padding: 0 15%;
>>>>>>> deb31975f8ad7e8569d605a20b46239ca0e99de9
}

footer .link-footer div 
{
<<<<<<< HEAD
display: flex;
flex-direction: column;
margin-right: 15%; 
=======
    display: flex;
    flex-direction: column;
    margin-right: 15%; 
>>>>>>> deb31975f8ad7e8569d605a20b46239ca0e99de9
}

footer .link-footer div h3 
{
<<<<<<< HEAD
font-family: "Poppins", sans-serif;
font-size: 100%;
color: white;
margin: 35% 0;
margin-bottom: 7px;

=======
    font-family: "Poppins", sans-serif;
    font-size: 100%;
    color: white;
    margin: 35% 0;
    margin-bottom: 7px;
    
>>>>>>> deb31975f8ad7e8569d605a20b46239ca0e99de9
}

footer .link-footer a 
{
<<<<<<< HEAD
color: inherit;
text-decoration: none;
margin-bottom: 25%; 
}
   

.Copyright 
{
  background: #242320;
  padding: 1%;
  text-align: center; 
  color: rgb(250, 181, 250);
  margin: 0 px; 
}

=======
    color: inherit;
    text-decoration: none;
    margin-bottom: 25%; 
}
       

.Copyright 
{
      background: #242320;
      padding: 1%;
      text-align: center; 
      color: rgb(250, 181, 250);
      margin: 0 px; 
}
>>>>>>> deb31975f8ad7e8569d605a20b46239ca0e99de9
