
.body
{
    
    display: flex;
    justify-content: center;
    background-size: cover;
    height: 1010px;
   
}

h1
{
    color: rgb(255, 255, 255); 
    font-size:60px;
}


header 
{

    background-image: url(images/header.jpg);

}

#top_menu
{

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    
}

nav ul li
{

    display: inline;
    color: black;

}

.nav{
     
    text-align: center;
    display: flex;

}

#banner 
{  
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

footer 
{
    background-image: url(intro-bg.jpg);
    color: white;
    height: 300px;
    justify-content: center;
}

#zone1 
{
    height: 300px ;
    display: flex;
    flex-direction:row; 
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
}

#zone2 
{
    height: 300px ;
    display: flex;
    flex-direction:row; 
    justify-content: center;
    align-items: center;
    text-align: center; 
    background-color:grey;
}

#zone3
{
    height: 300px;
    background-color: rgb(241, 241, 241); 
}

#article3
{
    display: flex;
    flex-direction: row; 
    /*justify-content: space-between;*/

}

#zone4
{
    height: 250px ;
    /*display: flex;
    flex-direction:row; 
    justify-content: center;
    align-items: center;
    text-align: center;*/
    border: 1px black solid;
}

#article4 h2
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#article4 p
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}



#icons 
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.webdesign
{
    display: flex;
    flex-direction: column;
    text-align: center;

}

.webdeveloppement
{
    display: flex;
    flex-direction: column;
    text-align: center;

}

.seo
{
    display: flex;
    flex-direction: column;
    text-align: center;

}

#corps
{
    height: 500px;
    background-color: blue;
    display: flex;
    flex-direction: row;

}

footer 
{
display: flex;
flex-direction: column;
padding: 0 1%;
height: 200px;
color: white;
background-color: black;
}

footer .link-footer 
{
      display: flex;
      padding: 0 10%;
}

footer .link-footer div 
{
    display: flex;
    flex-direction: column;
    margin-right: 15%; 
}

footer .link-footer div h3 
{
    font-family: "Poppins", sans-serif;
    font-size: 100%;
    color: white;
    margin: 35% 0;
    margin-bottom: 7px;
   
}

footer .link-footer a 
{
color: rgb(255, 254, 254);
text-decoration: none;
margin-bottom: 10%; 
}
   

.Copyright 
{
      background: #242320;
      padding: 1%;
      text-align: center; 
      color: rgb(250, 181, 250);
    margin: 0 px;

      
}







