.logo {
    width: 50px;
    height: 50px;
    margin-left: 0px;
    margin-right: 400px;
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    border-radius: 40px;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 255, .2);
    animation: animationFrames 1.8s infinite;
    animation-timing-function: linear;
}

@keyframes animationFrames{
    0% {
      transform:  translate(0px,0px)  ;
    }
    15% {
      transform:  translate(0px,-5px)  ;
    }
    30% {
      transform:  translate(0px,0px)  ;
    }
    45% {
      transform:  translate(0px,-5px)  ;
    }
    60% {
      transform:  translate(0px,0px)  ;
    }
    75% {
      transform:  translate(0px,-5px)  ;
    }
    100% {
      transform:  translate(0px,-5px)  ;
    }
  }
  


.logo:hover {
    /*transform:rotate(360000deg);
    transition-timing-function: linear;
    transition-duration: 180s;*/
    animation: animationFrames 3s infinite;

}

.container-fluid {
    position: sticky;
    top: 0;
    width: 1200px;
    z-index: 1020;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    display: block;
    text-align: left;
    margin-right: 280px;
    width: auto;
}

.navBar {
    background-color: rgb(248, 249, 250);
    box-sizing: border-box;
    height: 60px;
    margin-right: 0px;
    border: 0px;
    display: flex;
    justify-content: flex-end;
}

.navBar ul {
    display: flex;
    flex-direction: row;
    text-align: left;

}

.navBar li {
    margin-left: 30px;
    text-align: left;
    align-items: flex-end;
    list-style: none;
    text-align: left;
}

nav li:hover {
    transform: scale(1.4);
}

.container {
    width: 100%;
    direction: flex;
    flex-flow: row nowrap;
    justify-items: flex-end;
    
}

div {
    margin-top: 30px;
    /*border: 1px solid black;*/
}

.titre {
    align-content: center;
    padding-left: 50%;
    font-size: 1.3em;
    color: firebrick;
    margin-top: 0px;
    border: 1px solid black;
    background-color: lightsalmon;
}

.nom {
    padding-left: 40%;
    font-size: 3em;
}

.content {
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    column-count: 4;
    hyphens: auto;
    transform: scale(0.8);


}

textarea {
    width: 300px;
    height: 300px;
}

.header {
    background-color: coral;

}

@keyframes arts {
    from {
        background-color: coral;
    }

    to {
        background-color: crimson;
    }
}


.header:hover {
    animation: arts 3s infinite;
    
}

#contact {
    display: flex;
    justify-content: center;
}
 .content{
    display: flex;
    flex-direction: column;
margin: 0px;
}
section{
    width:100%;
    height: 200px;
    display: flex;
    margin: 0px;
    flex-direction: row;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: solid 1px lavender;
}
section:nth-of-type(even){
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
 
}
section img{
    display: flex;
    align-self: center;

}
section div{
    width: 33.3333333%;
    font-size: 18px;
}
section div:nth-child(odd){
float: right;
    margin-right: 11%;
    
}
section div:nth-child(even){
float: left;
    margin-left: 10%;
    
}
section ul{
list-style: none;
}
.image_circle{
    border-radius: 50%;
    border: 4px solid #eee;
    height: 158px;;
}