<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>To do list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css">

</head>

<body>
    <div id="app">
        <div id="item">
            <p>faire du sport</p>
            <p>tâche {{state}} </p>
            <input type="radio" id="en-cours" value="en cours" v-model="state">
            <label for="en cours">en cours</label>
            <input type="radio" id="fini" value="en cours" v-model="state">
            <label for="fini">fini</label>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>