<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>To do list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css">

</head>

<body>
    <div id="app">
        <h2>To do list</h2>
        <input type="text" name="newTask" id="newTask" v-model="task">
        <button name="add" id="add" v-on:click="addTask">Nouvelle tache</button>
        <ul>
            <newtask v-for="task in list">{{newTask}} </newtask>
            
        </ul>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>