
/* CSS
Projet.05: maquette illddy

Objectifs
- Créer une page HTML à partir d'un modèle
- Utiliser SASS pour créer votre feuille CSS
- Récupérer les codes couleurs à partir d'une image
- Utiliser une police externe
- Utiliser une police d'icône (font icon)

Cadre
- Binome : Eva / Thierry
*/

@import url('https://fonts.googleapis.com/css?family=Lato|Poppins|Poppins:600');

$font-principal: 'Lato', sans-serif;
$font-titre: 'Poppins', sans-serif;

$bleupaonfonce: #222f36;
$grisfooter: #292825;
$griscopyright : #242320;
$corail: #f18b6d;
$jaune: #f7e574;
$mauve: #947fab;
$gris: #606060;
$grisclair: #afb5b6;

/* mixins */

/* indiquer une dimension aux boites */
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

/* layout des titres*/
@mixin titre-design1 {
    padding-top: 50px;
    padding-bottom:0;
    font-family: $font-titre;
    font-size: 32px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin titre-design2 {
        margin-left: 30%;
        margin-right: 30%;
        text-align: center;
        font-family: $font-principal;
        font-size: 16px;
        font-weight: normal;
}
@mixin titre-design3 {
        padding-bottom: 0;
        margin-bottom: 0; 
        color: $gris;
        font-weight: bold;   
}

@mixin service-box {
    margin: 10px;
    padding: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
}

@mixin news-box {
    margin: 10px;
    padding: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
}
@mixin img-box  {
        max-width: 100%;
        height: auto;
}


/* generic */
body{
    background-color: white;
    color: #afb5b6;
    font-family: $font-principal;
    font-size: 16px;

}

/* - - -  - - -  - - -  header hero  - - -  - - -  - - - */

header {
    margin: 0;
    padding:0; 
    width: auto;
    height: 800px;
    background-image: url("../images/header.jpg");
    background-position: center;
    background-size: cover;
    color: white;
}

/* - - -  - - -  - - -  navbar top  - - -  - - -  - - - */

.navtop {
    font-size: 16px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-left: 40%;
    margin-right: 20%;
    padding-top: 40px;
    
}
.navtop {
    li {
    list-style: none;
    }
}

/* - - -  - - -  - - -  titre principal  - - -  - - -  - - - */

.titre {
    padding-top: 150px;
    padding-bottom:0;
    font-family: $font-titre;
    font-size: 32px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titre {
    p {
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    font-family: $font-principal;
    font-size: 16px;
    font-weight: normal;
    }
}
.titre {
    h1 {
        padding-bottom: 0;
        margin-bottom: 0;    
    }
}
.doublebouton {
    display:flex;
    justify-content: center;
    margin-top: 40px;
}
.boutton1 {
    background-color: rgba(255, 255, 255, 0.5);
    border: white 2px solid;
    @include size(250px, 60px);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .boutton2 {
    background-color: #ffcc00;
    border: none;
    @include size(250px, 60px);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }


  /* - - -  - - -  - - -  about section  - - -  - - -  - - - */

.about {
    @include titre-design1;
}
.about {
    p {
    @include titre-design2;
        }
}
.about {
    h2 {
    @include titre-design3;
    }
}
 
 /* - - -  - - -  - - -  projects section  - - -  - - -  - - - */

 .titre-projects {
    @include titre-design1; 
}
.titre-projects {
    p {
    @include titre-design2;
    }
}
.titre-projects {
    h2 {
    @include titre-design3; 
    }
}

.projects {
    img {
        max-width: 100%;
        height: auto;
    }
}
.imgprojets {
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
}

 /* - - -  - - -  - - -  services section  - - -  - - -  - - - */

.titre-services {
    @include titre-design1; 
}
.titre-services {
    p {
    @include titre-design2;
    }
}
.titre-services {
    h2 {
    @include titre-design3; 
    }
}
.detail-services {
    margin-left: 70px;
    margin-right: 70x;
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
}
/* 3 boites */
.service1 {
    @include service-box;
}
.service2 {
    @include service-box;
}
.service3 {
    @include service-box;
}

 /* - - -  - - -  - - -  latest news section  - - -  - - -  - - - */
 .latest-news {
    padding: 0;
    margin: 0;
    background-color: $bleupaonfonce;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
.news {
    padding: 50px;
    margin: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

 .titre-latest-news {
    padding-top: 30px;
    padding-bottom:0;
    font-family: $font-titre;
    font-size: 32px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titre-latest-news {
    p {
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    font-family: $font-principal;
    font-size: 16px;
    font-weight: normal;
    }
}
.titre-latest-news {
    h2 {
        padding-bottom: 0;
        margin-bottom: 0;    
    }
}
.doublebouton20 {
    display:flex;
    justify-content: center;
    margin-top: 40px;
}
.boutton22 {
    background-color: #ffcc00;
    border: none;
    @include size(250px, 60px);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

 
/* 3 boites */
.news1 {
    @include news-box;
}
.news2 {
    @include news-box;
}
.news3 {
    @include news-box;
}
.news1 img {
    @include img-box;
}
.news2 img {
    @include img-box;
}
.news3 img {
    @include img-box;
}

 /* - - -  - - -  - - -  footer  - - -  - - -  - - - */

 .footnav {
    background-color: $grisfooter;
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.footcopyright {
    background-color: $griscopyright;
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
}



