@import url('https://fonts.googleapis.com/css?family=Kalam:400,700');

/*#a8e6cf
#dcedc1
#ffd3b6
#ffaaa5
#ff8b94*/

body {
    /*background: linear-gradient(#ffd3b6, #ffd3b6);*/
    font-family: "Kalam", sans-serif;
    font-size: 1em;
}

.bloc {
    height: 100vh;
    width: 100%;
}

.home {
    background-color: #a8e6cf;
}

.about {
    background-color: #ffd3b6;
}

.comp {
    background-color: #dcedc1;
}

.contact {
    background-color: #ffaaa5;
}

nav {
    width: 90%;
    margin: auto;
    font-family: "Kalam", sans-serif;
    font-weight: 400;
    font-size: 1.5em;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
}

li {
    list-style-type: none;
    padding: 15px;
}

a {
    color: #632C65/*E2A9E5*/;
    font-style: italic;
    text-decoration: none;
}

    li a:hover {
        animation: hoverColorMe2 0.7s;
        animation-fill-mode: forwards;
    }

    @keyframes hoverColorMe2 {
        100% {
            font-weight: 700;
            font-style: italic;
            text-shadow: 2px 2px #E2A9E5;
            color: #FFF;
            border-bottom: 1px solid #E2A9E5;
        }
    }

h1 {
    color: #632C65;
    text-shadow: 2px 2px #E2A9E5;
    font-family: "Kalam", sans-serif;
    font-weight: 700;
    font-size: 2.5em;
}

h2 {
    color: #632C65;
    text-shadow: 2px 2px #E2A9E5;
    font-family: "Kalam", sans-serif;
    font-weight: 700;
    font-size: 3.5em;
    
}

article {
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 100px;
}

.boutons {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 120px;
}

.button {
    font-family: "Kalam", sans-serif;
    font-weight: 400;
    border: 1px solid white;
    font-size: 1.5em;
    padding: 20px;
    text-decoration: none;
}

.button:hover {
    animation: hoverColorMe 2s;
    animation-fill-mode: forwards;
}

@keyframes hoverColorMe {
    100% {
        border: 2px solid #4B384C;
        background-color: #FFF/*E2A9E5*/;
        color: #632C65;
        font-weight: 700;
        font-style: italic;
        text-shadow: 2px 2px #E2A9E5;
    }
}

#arrow {
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-size: 4em;
}

    #about #arrow {
        padding-top: 170px;
    }

i {
    color: /*#E2A9E5*/ purple;
    text-align: center;
}

    i:hover {
        animation: hoverColorMe3 0.7s;
        animation-fill-mode: forwards;
    }

    @keyframes hoverColorMe3 {
        100% {
            text-shadow: 3px 3px #FFF /*632C65*/;
            color: #E2A9E5;
        }
    }

.down {
    animation: floatd 3s infinite;
}

.up {
    animation: floatu 3s infinite;
}

@keyframes floatd {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}

@keyframes floatu {
    0% {
        transform: translatey(20px);
    }
    50% {
        transform: translatey(0);
    }
    100% {
        transform: translatey(20px);
    }
}

h3 {
    color: #E2A9E5;
    font-family: "Kalam", sans-serif;
    font-weight: 700;
    font-size: 3em;
    width: 90%;
    margin: auto;
    text-shadow: 3px 3px #632C65;
}

h4 {
    color: #000;
    font-family: "Kalam", sans-serif;
    font-weight: 700;
    font-size: 1.7em;
    width: 90%;
    margin: auto;
    text-shadow: 3px 3px white;
    padding-top: 50px;
    text-align: center;
}

i {
    font-size: 1.2em;
}

img {
    height: 150px;
    padding-right: 20px;
    padding-left: 30px;
}

#sepa {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 35px;
}

#text {
    width: 80%;
    color: #000;
    font-family: "Kalam", sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    margin: auto;
    padding-top: 35px;
    padding-right: 30px;
    text-align: center;
}

#cv {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    padding-top: 10%;
    font-size: 1.2em;
    text-align: center;
}

.contact p {
    padding-left: 25px;
    text-align: center;
}

form {
	display: grid;
}

form div {
	margin: auto;
	padding-bottom: 5px;
}

input {
	color: #181818;
	background: white;
	height: 30px;
	margin: auto;
	font-family: "Neou", Verdana, Arial, "sans-serif";
	margin-bottom: 2px;
	border: 2px solid black;
	width: 150px;
	border-radius: 5px;
	padding: 5px;
}

input:focus {
	background: white;
	border: solid 2px #6f0783;
	border-radius: 5px;
	box-shadow: 3px 3px #ff8b94;
}

input[type=text] {
	width: 150px;
	transition: ease-in-out, width .35s ease-in-out;
}

input[type=text]:focus {
	width: 350px;
}

textarea {
	color: #181818;
	background: white;
	height: 100px;
	/*align-self: flex-end;*/
	margin: auto;
	margin-top: 15px;
	margin-bottom: 10px;
	font-family: "Neou", Verdana, Arial, "sans-serif";
	height: 10rem;
	border: 2px solid black;
	width: 70%;
	transition: ease-in-out, width .35s ease-in-out;
	border-radius: 5px;
	padding: 5px;
}

textarea:focus {
	border: solid 2px #6f0783;
	border-radius: 5px;
	box-shadow: 3px 3px #ff8b94;
	width: 90%;
}

hr {
    width: 50%;
    background-color: #632C65;
}

fieldset {
	width: 98%;
	margin: auto;
    padding: 1%;
    border-color: transparent;
}

fieldset ul {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	font-family: "Neou", Verdana, Arial, "sans-serif";
}

fieldset li input {
	position: relative;
	color: #6f0783;
	font-size: 1.1em;
	height: auto;
	padding: 5px;
	border-radius: 5px;
}

fieldset li input:hover {
	bottom: 5px;
	color: #181818 !important;
	text-shadow: 1px 1px 2px #ff8b94;
	box-shadow: 3px 3px #ff8b94;
	border: solid 2px #6f0783;
	border-radius: 5px;
}

#mail {
    color: #6f0783; 
}

    #mail:hover {
        animation: hoverColorMe2 2s;
    }

/*@media all and (max-height: 1024px) {
    body {
        display: flex;
    }
	.bloc {
        height: auto;
        width: 100%;
    }
}*/

@media all and (max-width: 1024px) {
    body {
        display: flex;
    }
	.bloc {
        height: auto;
        width: auto;
    }
}