.barre_bleu
{
    background-color: blue;
    height: 10px;

}

header
{
    background-image: url(images/bg_header.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    color: white;
    
}

.entete img
{
    height: 80px;
}


.entete img:nth-of-type(1) 
{ 
    flex-grow: 1;
}


.reseauxsociaux i
{
    font-size: 50px;
}

.entete
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    border-color: black;
    margin-bottom: 0px;
    font-size : 50px;
}

ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 40px;
    background:blue;
    margin-top: 0px;
    align-items: center;
    color: white;

}

li a
{ 

    color: white;

}


section
{

display: flex;
flex-direction: row;
background-color: red;
border: 2px black solid;
height: 700px;
width: 1350px;
margin-bottom: 20px;

}

article
{

border: 2px black solid;
width: 100%;

}

.blocpage
{
    display: flex;
    flex-direction: column;
    align-items: center;

}

footer
{
    height: 200px;
    background-color:yellow;
    display: flex;
    flex-direction: row;
    border: 2px black solid;
}

.logo{

    height: 200px;
    width: 100%;
    
}

.adresse{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:center; 
    width: 100%;
    height: 200px;
    background-color:blue;
    
}

footer div {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:center; 
    background-color: blue;
    color: white;
}

.rubrique{

    height: 200px;
    width: 100%;

}

.mentionlegale{


    height: 200px;
    width: 100%;
    
}



.input[type=text] {

    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

