html {
    background-color: black;
}

body {
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;

}


   

header {
    width: 100%;
}

h1 {
    text-align: center;
}


.bloc_page {
    background-color: white;
    height: 500px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.corp {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    
}

footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.choixde {
    padding: 0px;
    margin: 0px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.choixde * {
    padding: 0px;
    margin: 0px;
}

i {
    font-size: 120px;
}

.current {
    text-align: center;
    background-color: red;
}

#P1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#P1 * {
    padding: 0px;
    margin: 0px; 
}

#P2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#P2 * {
    padding: 0px;
    margin: 0px; 
}

.gras {
    font-size: 30px;
    color: red
}

#gras {
    font-size: 10000px;
    color: red
}