body {
    background-image: url("/home/user/cours/Create-pro/images/bg.jpg");
}

#conteneurphoto
{
        display: flex;
}

.elementphoto 
{
        column-count: 3;
        column-width: 260px;
        column-gap: 3px;  
}
#conteneurtitre
{
        display: flex;
        justify-content: center
}

.elementitre
{
    font-size: 133px;
    color: #cfa205;
}

#conteneurpbo
{
        display: flex;
        justify-content: center
}

.elementpbo
{
    font-size: 18px;
    color: #cfa205;
}

ul {
    padding:0;
    margin:0;
    list-style-type:none;
    }
   li {
    float:left; /*pour IE*/
    border-left:1px solid black;
    }
   ul li a {
    display:block;
    float:left;   
    width:200px;
 /*   line-height:50px; hauteur de l'image de fond
    background:black url(images/noir-1.png) repeat-x;
 */   color: white; 
    text-decoration:none;
    text-align:center;
    }

