header {
    display: flex;
    background-color: darkred;
    justify-content: center;
}

header h1 {
    color: white;
}

section {
    display: flex;
    justify-content: space-around
}

article p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bolder;
}

#demo {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bolder;
}