   
    body{background-color: navajowhite}
    body

{

    background-image: url("city_field_day.jpeg"); 
    background-size: 500px;


}
    h1{color:chocolate; text-align: center; }
           
        
    #name{color:chocolate;}
    h3{font: size 30px;font-family: monospace,sans-serif;}
    #identite{border: 6px groove red;}
   #name1{color:olive;}

   
.bar{background-color: navy;
    border: 4px solid white;
    border-radius: 10px;
    height: 120px; 
    color: black; 
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 95%;
   
}

.conteneur{  
	border: 2px;
    height: 350px;}

  