

html {
    background-color: #e6e6e6;
    font-size: 12pt;
}

.xHolder {
    padding-top: .4rem;
    color: #EF5753;
    font-size: 2rem;
    transition-duration: .5s;
}

.xHolder i:hover {
    transition-duration: .5s;
    color: red;
    transform: rotate(90deg);
    font-size: 2.5rem;
    cursor: pointer;
}

