 * {
     box-sizing: border-box;
 }

 body {

     min-height: 100vh;

     margin: 0;
     background-color: var(--main-bg-color);
     /*padding: 120px;*/
     text-align: center;
 }

 @import url('https://fonts.googleapis.com/css?family=Maven+Pro:900');
 @import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');

 :root {
     --main-bg-color: rgb(139, 108, 108);
     --nav-color: rgb(105, 3, 3);
 }




 .staticTextShadow span {
     font-family: 'Rubik Mono One', sans-serif;
     color: var(--main-bg-color);
     font-size: 10vw;
     line-height: 1;
     display: inline-block;
     text-shadow: 0 15px 40px rgba(0, 0, 0, .6);
 }

 .animatedTextShadow span {
     font-family: 'Rubik Mono One', sans-serif;
     color: var(--main-bg-color);
     font-size: 10vw;
     line-height: 1;
     display: inline-block;
     animation: move 2s ease-in-out infinite;
 }

 /*--- Animation Logic Starts ---*/

 @keyframes move {
     0% {
         transform: translate(-33%, 0);
     }

     50% {
         text-shadow: 0 15px 40px rgba(0, 0, 0, .6);
     }

     100% {
         transform: translate(33%, 0);
     }
 }

 .animatedTextShadow span:nth-child(2) {
     animation-delay: .5s;
 }

 .animatedTextShadow span:nth-child(3) {
     animation-delay: 1.5s;
 }

 .animatedTextShadow span:nth-child(4) {
     animation-delay: 2s;
 }

 /*--- Animation Logic Ends ---*/

 main {
     display: flex;
     flex-direction: column;
 }

 .cadre {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     background-color: rgba(255, 255, 255, 0.8);
     width: 100%;
     height: 95%;
 }

 .comp {
     display: flex;
 }

 .dev {
     flex: 1 1 auto;
 }

 .mus {
     flex: 1 1 auto;
 }

 .graph {
     flex: 1 1 auto;
 }

 nav {
     margin-top: 200px;
     margin-left: 0px;
     margin-right: 0px;
 }

 .navul {
     list-style: none;
     margin: 0;
     background-color: var(--nav-color);
     display: -webkit-box;
     display: -moz-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     align-items: flex-end;
 }

 .navul a {
     text-decoration: none;
     display: block;
     padding: 1em;
     font-family: 'Rubik Mono One', sans-serif;
     color: var(--nav-color);
     text-shadow: 0 5px 4px rgba(0, 0, 0, .6);
     font-size: 15pt;
     line-height: 1;
     text-align: center;
     /* padding: 10px;*/
     border-top: 1px solid rgba(255, 255, 255, 0.3);
     border-bottom: 1px solid rgba(0, 0, 0, 0.1);
 }

 .navul li a:hover {
     background-color: darken(var(--nav-color), 2%);
     color: var(--main-bg-color);
 }

 @media all and (max-width: 800px) {
     .navul {
         justify-content: space-around;
     }
 }

 @media all and (max-width: 600px) {
     .navul {
         -webkit-flex-flow: column wrap;
         flex-flow: column wrap;
         padding: 0;
     }
 }

 .MOI {
     background-image: url("sources/tokyo-skyline.jpg");
     background-repeat: no-repeat;
     background-size: cover;

     height: 800px;
 }

 .CV {
     background-color: grey;

     background-size: cover;

     height: 676px;
     padding-bottom: none;
 }

 .cv ul li {
     text-align: right;
 }

 main {
     display: flex;
     align-items: center;

 }

 .CREA {
     background-color: lightgrey;
     height: 750px;
 }

 section {
     flex-direction: column;
     display: flex;
     width: 900px;
     background-color: none;
 }

 .article {
     flex-direction: column;
     flex: 3;
     min-height: 60vh;
 }

 footer ul {
     list-style: none;
 }

 header,
 footer {
     background-color: var(--main-bg-color);
     height: 20vh;
     color: aliceblue;
 }

 header,
 footer,
 article,
 nav {
     padding: 1em;
 }