



.navbar{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(245, 240, 240);
    padding-block-start: 12px;
    display: flex;
    justify-content: space-around;
        overflow: hidden;
        background-color:rgb(3, 3, 3);
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */
      }
    
   
     

/**Banner */
.banner{
    background: url(img/3.jpg) no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 900px;
    width:100%px;
    margin: -140px;

    text-align: center;
    display: flex;
    padding-left: 30px;
    margin-left: 0px;
}

   

  h1 {
    
        font-size: 3em;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        padding: 100px;
        margin-bottom: 250px;
        color:white;
        
        
    }

   p1{ 
        text-align: justify;
        color: rgb(236, 229, 236);
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 230px;
           
    }

  

     
   
   

#introdution{
 justify-content: center;
    text-align: center;
    margin-left: 200px;
    
}
h1{
    justify-content: center;
    text-align: center;
}

h2{
    text-align: center;
    justify-content: center;
    font-size: 50px;
    color:rgb(241, 159, 82);
}
p{
    text-align: center;
}
.button{
    text-align: center;
    font-size: 25px;
    color:blueviolet;
    

}


/** form */

    
footer{
  background: black;
 color:white;
 height: 100px;
  text-align: center;
  margin-right: 0px;

 
}



