col-1
{
    font-family: cursive;
    color: blueviolet;
    margin-right: 20px;
}

article
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal
    text-transform: uppercase;
}