*{
    margin: 0;
    padding: 0;
}

.banniere {
    background-image: url(../img/header.jpg);
    background-size: cover;
    height: 50vw;
    padding: 0 20%;
    display: flex;
    flex-direction: column;
    color: white;


    .texte-et-bouton{
        margin-top: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            font-size: 4vw;
            .point-jaune-titre{
                color: #f1d204;
            }
        }
        p{
            margin: 3% 0;
            text-align: center;
        }
        .button-container{
            width: 50%;
            display: flex;
            justify-content: space-evenly;

                button{
                padding: 4% 10%;
                background: #ffffff4d;
                border: solid white;
                cursor: pointer;
                transition: background .5s;
                color: white;
                font-weight: bold;
                &:hover{
                    background: #f1d204;
                    border: solid #f1d204;
                    transition: background .5s;
                    

                }

            }
        }
        

    }

    .logo-et-menu{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    .menu{
        width: 85%;
        text-align: right;
        a{
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 0.9rem;
        margin-left:1vw;
            &:hover{
                color: #f1d204;
            }

        }
    }
        
    }

}



