@import url('https://fonts.googleapis.com/css?family=Pacifico');
// VARIABLES
$bleu: #3A539B;

// GENERAL
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mibloc {
    width: 50%;
}

.is-primary {
    background-color: $bleu !important;
}

// NAV
#logo {
    font-size: 2.3em;
    color: $bleu;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
}

// HERO
.hero {
    background-image: url("ressources/head.png");
    background-size: cover;
    height: 40vh;
}

// SECTION
#prez {
    p {
        margin: 15px;
        font-size: 1.2em;
    }
}

#clickMe {
    width: 150px;
}

#how {
    flex-direction: row !important;

    .container {
        margin: 25px;

        i {
            margin-bottom: 15px;
            color: $bleu;
        }

        i,
        h3 {
            font-size: 2.5em;
            font-weight: bold;
        }

        p {
            font-size: 1.2em;
        }
    }
}