.header{
    height: 100px;
    background: #34495e;
    padding: 0 20px;
    color: #fff;
  }
  
  .menu{
    float: center;
    line-height: 100px;
  }
  
  .menu a{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
