@import url('https://fonts.googleapis.com/css?family=Bitter|Josefin+Sans');

.content{
    width:1020px;
    height: 1010px;
    justify-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    flex-wrap: nowrap;
}

body{
    height: 1020px;
    background-image: url("../images/bg.jpg");
    background-attachment: fixed;
}
.main{
    width: 1020px;
    height: 100%;
    margin: 0px;
    background-color: white;
}
a:link{
    text-decoration: none;
    color: white;
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav li{
    display: flex;

}
nav li a{
    color:white;

}
nav a:visited{
   color: #cfa205;
}
nav{
    width: 1020px;
    height: 60px;
    justify-items: center;
}
.header{
    width: 1020px;
    height: 440px;
    background-color: black;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.titre{
    font-size: 133px;
    height: 320px;
    font-family: "Josefin Sans";
    font-weight: normal;
    padding-top: 0px;
}
.titre p{
    font-weight: normal;   
}
.social{
    height: 60px;
    background-color: lightgrey;
    justify-items: center;
    padding-left: 35%;
    margin-top: 0px;
}

.intro, .article{
    background-color: white;
}
.article{
/*width: 900px;*/
height: 675px;
display: flex;
flex-direction: row;
justify-content: space-between;
justify-content: center;
margin-left: 50px;
margin-right: 20px;
}
.article img{
height:195px ;
}
.article[class~="img"]{
margin-right: 10px;
width:200px;
}
.article p{
    height: 480px;
    font-size: 14px;
    color:#7a7a7a ;
    font-family: "Bitter";
}
h4{
    font-size: 18px;
    width: 170px;
}
.intro{
    width: 900px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-content: center;
    color:#7a7a7a;
    font-family: "Bitter";
    font-weight:bold; 
}
.titre div{
    justify-items: center;
}

.titre div:nth-child(1){
font-size: 133px;
color:#cfa205;
margin-top: 0px;
}
.titre div:nth-child(2){
    font-size: 18px;
    color:#cfa205;
    margin-bottom: 20px;
}
h1, h3{
    justify-content: center;
}

i{
    flex-direction: row;
    justify-items: center;
    flex-wrap: nowrap;
    justify-items: center;
}

.circle{
	border-radius: 50%;
	margin: 0.15em;
    font-size: 1.6em;
    align-items: center;
	}
	
.fa-twitter{
	background: #4099FF;
	color: #FFFFFF;
  padding: 0.05em 0.07em;
	}

.fa-google-plus{
  color: #FFFFFF;
  background: #dd4b39;
  padding: 0.1em 0.1em;
  }  

.fa-dribbble{
	color: #ea4c89;
	}

.fa-pinterest{
	color: #cb2027;
	}

.fa-facebook{
	background: #3B5998;
	color: #FFFFFF;
  padding: 0.05em 0.3em;
	}

.fa-youtube{
	background: #bb0000;
	color: #FFFFFF;
  padding: 0.25em 0.25em;
  
    }
    .div.clear{
        clear: both;
    }