   
    body{background-color: navajowhite}
    body

{

    background-image: url("image.jpeg");

}
    h1{color:chocolate; text-align: center; }
           
        
    #name{color:chocolate;text-align: center}
    h3{font: size 30px;font-family: monospace,sans-serif;}
    #identite{border: 6px groove red;}
   #name1{color:olive }

    @keyframes masuperanimation {

        0% {
    
            transform: translateX(0px);
    
        }
    
    
        50% {
    
            transform: translateX(150px);
    
        }
    
    
        100% {
    
            transform: translateX(150px) rotate(30deg);
    
        }
    
    } 
    #ny_stadium{transform: rotate(10deg);}

    div:hover

{

    animation: masuperanimation 2s; /* On utilise "ma super animation" définie plus tôt */

}
