body
{
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeGAAhfEwioZ5B-8ikbnq7i5zaLB-l0acZLaHgcjvY9IndEN1oDg);
}


#identité
{

    background-color:rgb(226, 226, 114);
}

.nom
{
    text-align: center;
    font-size: 50px;
}

.prenom{
    text-align: center;
    font-size: 50px;
}

#description
{
    display:flex;
    justify-content: space-around;
    font-size: 30px;
    background-color: rgb(226, 226, 114);

}

a
{
display: flex;
justify-content: center;
}

#formulaire
{
    text-align: center;
    font-size: 30px;
    background-color: rgb(226, 226, 114);
    padding-bottom: 5px;
    margin-top: 50px;

}

@keyframes maphoto {
    0%{
        transform: translateX(0px);
 }

 50%{
     transform: translateX(50px);
 }

 100%{
     transform: translateX(100px) rotate(360deg);
 }
}

.element:hover
{
    animation: maphoto 2s;
}


