
    body {
        
        display: flex;
        justify-content: center;
        background-size: cover;
        background-image: url(bg.jpg);
        height: 1010px;
        
        font-size: 18px;
        color: #030303;
        font-family: 'Bitter', serif;
        
    }
        
    @media all and (max-width: 1024px)
    {
        #bloc_page
        {
            width: auto;
        }
    }
       
    header{
    
         background-color: black;
    
    }
    #menu {
        height: 60px;
        width: 1020px;
        background: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    ul {
        display: flex;
        justify-content: center;
        padding: 10px;
        margin: 0;
        color: black; 
    }
    
    nav{
    
        height: 60px;
        width: 1020px;
    background-color: black; 
    }
    
    @media all and (max-width: 1024px)
{
    nav
    {
        width: auto;
        text-align: left;
    }
    
    nav li
    {
        display: block;
        padding-left: 4px;
    }
    
    nav a
    {
        font-size: 1.1em;
    }
    
    nav a:hover
    {
        border-bottom: 0;
    }
}
    h1{
        font-family: 'Josefin Sans';
        color:yellow; 
        font-size: 133px; 
        font-weight: normal;
    }
    a{
        color:#7a7a7a;
        font-size: 20px; 
        margin-bottom: 80px; 
        margin-right: 30px;
        
    }
    ul a li:hover{
        cursor: pointer;
        color:#cfa205;
    }
    
    
    li{
        list-style-type: none;
        padding: 0 10px;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
      }
    
    
    h2 {
        font-family: 'Bitter';
        color: black;
        font-size: 18px; 
    }
    p
    {
        color:#7a7a7a;
        font-size: 14px; 
        margin-bottom: 80px; 
        font-family: 'bitter', 
    }

    .titres{
        display: flex;
        justify-content: center;
        align-items: center; 
        flex-direction: column;
        height: 320px;
        width: 1020px;
        color: white;
        background-color: black; 
    
    }
    
    
    .titres ul{
    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
    }
    
    
#réseaux_sociaux 
{
    height: 60px;
    width: 1020px;
    background-color: #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

#réseaux_sociaux div{
    width: 26%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
#réseaux_sociaux div a{
    font-size: 2em;
    height: 36px;
    margin-top: 40px;
}

#réseaux_sociaux div a i:hover{
    cursor: pointer;
    color:#cfa205;
    
}

   
    
    section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: rgb(255, 255, 255);
        height: 675px;
        width: 900px;
    margin-top: 50px; 
    }
    
    article{
    
    
        background: rgb(247, 245, 245);
        height: 675px;
        width: 260px;
    
    }
    
    img{
    
        background-color: red;
        height: 195px;
        width: 260px;
    
    }
    
    

    .corps {
        background-color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    .intro {
        display: flex;
        justify-content: center;
        align-items: center;
        /*padding-top: 27.5px;*/
        font-family: "Bitter", serif;
        font-weight: 700;
        width: 900px;
    }
    
    .intro p {
        margin: 0;
        width: 850px;
        height: 90px;
        text-align: center;
        color: #7a7a7a;
        margin-top: 27.5px;
    }
    