p

{
    width: 900px; /* On a indiqué une largeur (obligatoire) */
    margin: auto; /* On peut donc demander à ce que le bloc soit centré avec auto */
    border: 3px solid black;
    text-align: justify;
    padding: 20px;
    margin-bottom: 25px;
    font-size: 26px; 
    -webkit-column-count: 4; 
    column-count: 4;
}


h1
{
    font-size: 40px;
    font-family: Impact, "Arial", Verdana, sans-serif ;
    border: 3px blue inset;
}
h1
    {
        background-color: rgba(253, 116, 4, 0.555);
        text-align: center;
    }
p
    {
        text-align: center; 
    }


.imageflottante
{
    float: left;
    border: 3px black inset;
    margin-left: 10px;
    transform: rotate(10deg);
    
}

body
{
    background-image: url("neige2.jpg")  ;
}
#conteneur

{

    display: flex;

    flex-wrap: nowrap;

    justify-content: flex-end; 
}
header
{
   
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
   
}

h3
{
    text-align: center; 
    font-size: 50px; 
}

#bloc_page

{

    width: 900px;

    margin: 40px;

}
nav ul

{

    list-style-type: none;

    display: flex;

}


nav li

{

    margin-left: 20px;

}


nav a

{

    font-size: 1.3em;

    color: #181818;

    padding-bottom: 3px;

    text-decoration: none;

}

#banniere_image

{

    margin-top: 15px;

    height: 200px;

    border-radius: 5px;

    background: url('san-francisco.jpg') no-repeat;

    position: relative;

    box-shadow: 0px 4px 4px #1c1a19;

    margin-bottom: 25px;


}
h2
{
    font-size: 50px;
    font-family: Impact, "Arial", Verdana, sans-serif ;
    border: 3px rgb(245, 150, 7) inset;
    text-shadow: 2px 2px 4px rgb(245, 153, 68);
    
}

.conteneur2 {
    border: 5px solid rgb(0, 122, 96);
    margin-top: 10px;
}
.conteneur
 {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    margin-bottom: 30px;
    height: 150px;
    border-radius: 15px;
}
.element
{
    margin-top: 10px;
    margin-right: 5px;
}

@keyframes masuperanimation {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(150px);
    }

    100% {
        transform: translateX(150px) rotate(30deg);
    }
}
div:hover
{
    -webkit-animation: masuperanimation 2s; /* Safari, Opera, Chrome */
    animation: masuperanimation 2s; /* Tous les autres navigateurs */
}

