header {
    display: flex;
    background-color: red;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
}

.principal a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: red;
}

.principal a:hover {
    color: white;
    background-color: red;
    
}
.principal a:focus{ background-color: red;
color:white;}
.dropdown {
    position: relative;
    display: inline-block;}

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;}
/*------------------------------------*\
    $CAROUSEL
\*------------------------------------*/

.carousel {
    overflow: hidden;
    width: 50%;
}

.panes {
    list-style: none;
    position: relative;
    width: 500%;
    /* Number of panes * 100% */
    overflow: hidden;
    /* This is used solely to clear floats, it does not add functionality. */
    -moz-animation: carousel 30s infinite;
    -webkit-animation: carousel 30s infinite;
    animation: carousel 30s infinite;
}

.panes>li {
    position: relative;
    float: left;
    width: 20%;
    /* 100 / number of panes */
}

.carousel img {
    display: block;
    width: 100%;
    max-width: 100%;
}

.carousel h2 {
    font-size: 1em;
    padding: 0.5em;
    position: absolute;
    right: 10px;
    bottom: 10px;
    left: 10px;
    text-align: right;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.75);
}

@keyframes carousel {
    0% {
        left: 0;
    }
    11% {
        left: 0;
    }
    12.5% {
        left: -100%;
    }
    23.5% {
        left: -100%;
    }
    25% {
        left: -200%;
    }
    36% {
        left: -200%;
    }
    37.5% {
        left: -300%;
    }
    48.5% {
        left: -300%;
    }
    50% {
        left: -400%;
    }
    61% {
        left: -400%;
    }
    62.5% {
        left: -300%;
    }
    73.5% {
        left: -300%;
    }
    75% {
        left: -200%;
    }
    86% {
        left: -200%;
    }
    87.5% {
        left: -100%;
    }
    98.5% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

.affiches {
    width: 200px;
    height: 250px;
    background-image: url("images/all-inclusive-Qi1s2sMz.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    animation: fade 15s infinite;
}

@keyframes fade {
    50% {
        background-image: url("images/black-snake-FTKRhy7I.jpg")
    }
    100% {
        background-image: url("images/dragons-3-IMxZbYQu.jpg")
    }
}

.sorties {
    border-color: 5px solid black;
    margin: 0;
    padding: 0;
}