
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>todo list</title>
    <link rel="stylesheet" href="https://ez-css.now.sh">
    <script src="css"></script>
    <style>
      .done {
        text-decoration: line-through;
      }
    </style>
  </head>
  <body>
    <main id="app">
      <h3>{{title}}</h3>
      <form @submit.prevent="addTodo">
        <label for="newTodo">Nouvelle tâche</label>
        <input v-model="newTodo" type="text" name="newTodo" id="newTodo" value="">
        <button type="submit" name="button">envoyer</button>
      </form>
      
      <ul>
        <li v-for="todo in todos">
          <input type="checkbox" v-model="todo.done">
          <span :class="{ done: todo.done }">{{todo.title}}</span>
          <button @click="removeTodo(todo)" type="button" name="button">Effacer</button>
        </li>
      </ul>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js" charset="utf-8"></script>
  </body>
</html>