* {
    margin: 0;
    padding: 0;
}

/*-------------------------HEADER ET TOP BANNIERE-------------------------------*/
#top_banner {
    background-image: url(../img/intro-bg.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    height: 600px;
    background-size: cover;
    text-shadow: 1px 1px 5px black;
}

#top_banner hr {
    width: 500px;
    color: white;
    margin: 15px 0;

}

h1 {
    font-size: 70px;
}

#soustitre {
    font-size: 25px;
    font-weight: bold;
}

#top_menu {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
    background: #ddd;
    font-weight: bold;
    color: #5a5a5a;
}

#top_menu a {
    color: #5a5a5a;
    text-decoration: none;
}

#top_menu2 li {
    display: inline;
    margin-left: 20px;

}

.bnt_social {
    width: 170px;
    border-radius: 8px;
    height: 50px;
    font-size: 20px;
    background: white;
    border: 0;
    cursor: pointer;
}

.bnt_social i {
    margin-right: 5px;
}




/*---------------------------------CORPS-------------------------------*/
main {
    display: flex;
    flex-direction: column;
}

main section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#article1,
#article3 {
    order: -1;
}

#sect1,
#sect3 {
    background: rgba(226, 226, 226, 0.562);
}

section {
    padding: 20px 15%;
}

#sect1 div,
#sect3 div {
    text-align: right;
}

section div img {
    width: 65%;
}

article {
    width: 570px;
    font-size: 26px;
}

article hr {
    color: grey;
    width: 220px;
    margin: 25px 0;
}

article p {
    font-size: 19px;
    line-height: 30px;
}




/*-------------------------BOTTOM BANNIERE ET FOOTER-------------------------------*/
#bottom_banner {
    background-image: url(../img/banner-bg.jpg);
    height: 220px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 22px;
    background-size: cover;
}

#bottom_banner p {
    font-size: 35px;
    text-shadow: 1px 1px 3px black;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding-left: 10%;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

footer ul a {
    color: rgb(39, 124, 223);
    font-weight: bold;
    text-decoration: none;
}

footer p {
    margin-top: 20px;

}





/*-------------------------MEDIA QUERIES-------------------------------*/
@media screen and (max-width: 992px) {
    #top_banner {
        width: auto;
    }

    main {

        width: auto;
    }

    main section {
        width: auto;
        flex-direction: column !important;
        align-items: center;
    }

    section div {
        display: flex;
        justify-content: center;
    }

    #sect1 div,
    #sect3 div {
        order: -1;
    }

    article {
        width: auto;
    }

    article hr {
        margin: 25px auto;
        width: 50%;
    }

    #bottom_banner {
        display: flex;
        flex-direction: column;
        width: auto;

    }
}

@media screen and (max-width: 544px) {
    #top_banner {
        flex-wrap: wrap;
        justify-items: center;
        align-items: center;
        text-align: center;
    }

    #top_banner hr {
        width: 50%;
    }

    #top_banner div {
        display: flex;
        flex-direction: column;
    }

    .bnt_social {
        margin-bottom: 20px;
    }

    article {
        width: auto;
        font-size: 16px;
    }

    article p {
        font-size: 15px;
    }
}