@import url('https://fonts.googleapis.com/css?family=Bitter:400,700|Josefin+Sans:300,400');

body {
    width: auto;
    font-family: "Bitter", serif;
    max-height: 1400px;
    background-image: url("images/bg.jpg");
    background-size: cover;
    font-size: 18px;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    margin: 0;
}

#main {
    max-width: 1020px;
    /*margin: auto;*/
}

nav {
    font-family: "Josefin Sans", sans-serif;
    color: white;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    justify-content: center;
}

ul li {
    list-style-type: none;
    word-spacing: 0px;
}

ul {
    display: flex;
    height: 60px;
    align-items: center;
}

#hero {
    color: #cfa205;
    background-color: black;
    text-align: center;
    height: 320px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 133px;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 10;
    margin: auto;
    letter-spacing: -10px;
}

strong {
    text-transform: uppercase;
    padding-bottom: 30px;
}

a:hover {
    color: #cfa205;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;

}

article {
    font-size: 14px;
    padding-top: 40px;
}

h2 {
    text-transform: uppercase;
    text-align: left;
    font-size: 14px;
}

header {
    background-color: black;
    max-height: 380px; /* à surveiller après */
    max-width: 1020px;
}

footer {
    background-color: #e8e8e8;
    height: 60px;
    display: flex;
    justify-content: center;
}

.menu {
    justify-content: space-around;
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 0;
    width: 80%;
}

.social {
    margin: 0;
    padding: 0;
    justify-content: space-between;
    width: 22.5%;
    color: #7a7a7a;
}

.social li {
    border: 3px solid #7a7a7a;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
    width: 30.5px;
    height: 25px;
}

.corps {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding-top: 27.5px;*/
    font-family: "Bitter", serif;
    font-weight: 700;
    width: 900px;
}

.intro p {
    margin: 0;
    width: 850px;
    height: 90px;
    text-align: center;
    color: #7a7a7a;
    margin-top: 27.5px;
}

.img {
    width: 260px;
    height: 195px;
}

.txt {
    width: 260px;
    height: 480px;
    text-align: justify;
    hyphens: auto;
}

hr {
    width: 92%;
    border: 1px solid #e8e8e8;
}

/* MEDIA QUERIES */
@media all and (max-width: 1024px) {
	#main {
        width: auto;
    }

    .intro {
        width: auto;
        max-width: 800px;
    }

    .intro p {
        width: auto;
        height: auto;
        padding: 0 15px 15px 15px;
        font-size: 0.7em;
    }

    h1 {
        font-size: 2.5em;
        letter-spacing: -2.5px;
    }

    nav {
        padding-top: 35px;
    }

    nav ul li {
        padding-bottom: 5px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
    }

    .menu {
        width: auto;
        font-size: 0.8em;
    }

    strong {
        font-size: 0.8em;
        margin-bottom: 20px;
    }

    section {
		flex-direction: column;
    }

    .txt {
        height: auto;
    }

    .social {
        width: auto;
    }

    .social {
        width: 80%;
    }