* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    color: white;
}

* i {
    cursor: pointer;
}

h4 {
    text-indent: 16%;
}

body {
    height: 100vh;
    background: rgb(53, 53, 53);
}

#screenLogin {
    background: rgb(66, 66, 66);
    text-align: center;
}

#screenLogin i {
    font-size: 8vw;
    color: #7e7e7e;
    margin-bottom: 3vmin;
    
}
#screenLogin #userPlus{
    margin-left: 3vw;
}

#screenLogin h1 {
    margin-bottom: 3vmin;
}

.currentSalon {
    position: fixed;
    left: 12%;
    top: 13px;
    width: 24%;
    padding-left: 10px;
}

#formPseudo,
#formPassword {
    margin: auto;
    height: 50px;
    padding: 0 10px;

    font-size: x-large;
    text-align: center;
    background: none;
    border: none;
    border-bottom: solid #747474;
}

#formPassword {
    margin-bottom: 20px;
}

#formPseudo:focus,
#formPassword:focus {
    border-color: #9f8845;
}

input:required,
textarea:required {
    border-color: red;
}


#userSession {
    position: fixed;
    right: 17%;
    top: 3px;
}

a {
    color: rgb(116, 153, 255);
}

a strong {
    color: rgb(116, 153, 255);
}

a:hover {
    color: rgb(0, 188, 245);
}

a strong:hover {
    color: rgb(0, 188, 245);
}

.boxMessage {
    position: fixed;
    bottom: 30px;
    left: calc(16% + 50px);
    right: 16%;
}

input {
    background: gray;
    border: none;
    margin-left: 10px;
}

#chat textarea {
    width: calc(100% - 50px);
    padding: 10px;
    background: #434447;
    border: none;
}

.boxMessage i {
    font-size: 2em;
}

#listSalon {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 84%;
    padding: 160px 0;
    background: rgb(34, 34, 34);
    overflow-y: scroll;
    scrollbar-width: none;
}
#listSalon ul {
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    padding: 20px 0;
}

#listSalon li {
    margin: 10px 0;


}

#listSalon a,
#listSalon strong {
    display: block;
}

#listSalon a:hover,
#listSalon strong:hover {
    display: block;
    background: #3d3b41;
}

#listSalon a {
    padding: 6px 20px;
    font-size: 1.3em;
    text-decoration: none;
}



#listingMessage {
    position: fixed;
    top: 56px;
    bottom: 125px;
    right: 16%;
    left: 16%;
    background: rgb(41, 41, 41);
    padding: 0 10px;
    overflow-y: hidden;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.29);
}

#listingMessage:hover {
    overflow-y: scroll;
    scrollbar-width: none;
}

hr {
    background-color: #474747;

}

#usersConnected {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 84%;
    padding: 160px 0;
    background: rgb(34, 34, 34);
    text-align: left;
    overflow-y: scroll;
    scrollbar-width: none;
}
#usersConnected a{
    text-decoration: none;
}

.groupBtnMsg {
    float: right;
}

.groupBtnMsg>i {
    color: #717171;
    font-size: large;
}

#deleteBtn {
    margin-left: 10px;
}


#deleteBtn:hover {
    color: firebrick;
}

#editBtn:hover {
    color: seagreen;
}

#pseudoInChat {
    font-weight: bolder;
    color: goldenrod;
    font-size: x-large;
}

#logoutLink {
    display: block;
    text-align: right;
}

#dateInChat {
    color: slategray;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
    {
    opacity: 0;
}

.fade2-enter-active,
.fade2-leave-active {
    transition: opacity .5s;
}

.fade2-enter,
.fade2-leave-to

/* .fade-leave-active below version 2.1.8 */
    {
    opacity: 0;
}

#errorConnect, #errorInscription {
    color: red;
    font-weight: bold;
}

#btnConnect {
    width: 322px;
    border: none;
    height: 50px;
    background: cornflowerblue;
    font-family: sans serif;
    font-weight: bold;
    margin: 20px 0;
}

#btnConnect:hover {
    background: rgb(64, 105, 180);
}

.linkSwitchForm{
    margin-top: 20px;;
}

.bounce-enter-active {
    animation: bounce-in .5s;
  }
  .bounce-leave-active {
    animation: bounce-in .5s reverse;
  }
  @keyframes bounce-in {
    0% {
      transform: translateX(0px);
      /* scale(0); */
    }
    50% {
      transform: translateX(20%);
      /* scale(1.5); */
    }
    100% {
      transform: translateX(10%);
      /* scale(1); */
    }
  }
  
#usersOnLine li, #userOffLine li{
      font-size: 1.5em;
      list-style: inside;
}

#usersOnLine{
    padding: 0 20px;
    box-shadow: 0px 0px 12px 0px rgba(6, 5, 5, 0.75);
}
#usersOnLine li{
   color: #5ece4d;
}

#userOffLine{
    box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.46);
    padding: 0 20px;
}
#userOffLine li{
    color: #ce4d4d;
}
#userOffLine a{
    color: rgb(80, 80, 80);
}


@media screen and (max-width: 500px) {
    #listSalon {
        transform: translate(-100%);
        left: initial;
    }

    #usersConnected {
        transform: translateX(100%);
        left: initial;
    }

    #listingMessage {
        left: 0%;
        right: 0%;
        
    }

    .boxMessage {
        left: 1%;
        right: 1%;
    }

    .boxMessage i {
        display: none;
    }

    #chat textarea {
        width: 100%;
    }

    body>h1 {
        display: none;
    }


}