#bloc_page{
    width: 900px;
    margin: auto;
}

.entete{
    display:flex;
    background-image: url("img/header.jpg");
    width: 950px;
    height: 500px;
}  

ul{
    display:flex;
    justify-content: space-between;
    list-style-type:none;  
    color: white;
}

#titre_entete{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
   
}

#bouton{
    display: flex;
    justify-content: center;
    align-items: center;

  
}