<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" crossorigin="anonymous">
</head>

<body>
    <div id="chat" class="columns is-10">
       <section id="content">
        <div id="aside" class="column is-3">
            
            <h3>Salons</h3>
                <ul >
                    <li v-for="tab in tabs" v-model="salon" @click="currentTab=tab" :class="['tab-button', { active: currentTab === tab }]">
                        {{tab}}
                    </li>

                </ul>
        </div>
        <div id="messages" class="column is-8">
          
            <ul>
                <li v-for="msg in listmsg" v-if="msg.salon==currentTab">
                    <span v-if="msg.isEdit==false" @click="msg.isEdit=true" :class="{disabled :msg.isEdit}">{{msg.time}}{{msg.author}}:{{msg.text}}</span>
                    <input type="text" v-model="msg.text" v-if="msg.isEdit==true" @keyup.enter="msg.isEdit=false">
                </li>
            </ul>

        </div>
    </section>
<section id="text" class="columns is-10">
        <input type="text" id="msg" @keyup.enter="addmsg" v-model="text" class="column is-8" style="width:60%"/>
        
        <input type="text" id="pseudo" v-if="visible" v-model="pseudo" @keyup.enter="setNom" placeholder="votre pseudo" class="column is-2"/>
        <span v-else>{{pseudo}}</span>
        <button v-if="!visible" @click="visible=!visible" style="width:50%">Changer de pseudo</button>
    
    </section>
</div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/script.js"></script>
</body>

</html>