body
{
    text-align: center;
}

#identité
{
    font-size: 50px;
    background-color: rgba(109, 139, 62, 0.322); 
}

#description
{
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(109, 139, 62, 0.322);
}

#formulaire
{
    justify-content: center;
    font-size: 30px;
    background-color: rgba(109, 139, 62, 0.322);
}

@keyframes maphoto {
    0%{
        transform: translateX(0px);
 }

 50%{
     transform: translateX(50px);
 }

 100%{
     transform: translateX(100px) rotate(360deg);
 }
}

.element:hover
{
    animation: maphoto 2s;
}


