*{
    padding: 0;
    margin: 0;
}

button{
    text-align: center;
    padding: 1% 0;
    width: 5%;
    margin-bottom: 1%;
    font-weight: bold;
    font-size: 2vw;
    text-align: center;
}

.un,.deux,.trois,.quatre,.cinc,.six,.sept,.huit,.neuf{
    background: #999;}
.egal{
    width: 15.5%;
}
.affichage{
    /*position: fixed;*/
    
    height: 6vh;
    font-size: 1.9vw;
    font-family: sans-serif;
}
.calculatrice{
    
    
}