body{
display: flex;
justify-content: center;
background-size: cover;
background-image: url(images/bg.jpg);
height: 1010px;
width: 1400px;

}

header{

     background-color: black;

}


nav{

    height: 60px;
    width: 1020px;

}

ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.titres{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    height: 320px;
    width: 1020px;
    color: white;

}


.titres ul{

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.reseauxsociaux{

    background-color:#e8e8e8;
    height: 60px;
    width: 1020px;

}

.impression{
    display: flex;
    justify-content: center;
    background-color: white;
    height: 90px;
    width: 900px;
    margin-bottom: 60px;
    text-align: center;

}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: blue;
    height: 675px;
    width: 900px;

}

article{


    background: grey;
    height: 675px;
    width: 260px;

}

img{

    background-color: red;
    height: 195px;
    width: 260px;

}

.impressionsection{

    padding: 60px;

}
