@keyframes masuperanimation {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(150px);
    }

    100% {
        transform: translateX(150px) rotate(30deg);
    }
}

div
{
    margin: 100px;
    width: 200px;
    height: 150px;
    background-color: #008;
}

div:hover
{
    animation: masuperanimation 2s; /* On utilise "ma super animation" définie plus tôt */
}