
/* entête */
header
{
    background-image: url("header.jpg");
    background-position: center;
    font-size: cover;
    height: auto;
 }


nav
{
display:flex;
direction: right;
 }
 
 li
 {
display: flex;
align-content: center;
 }