* {
    color: #7a7a7a;
    font-family: 'Bitter', serif;
}

/*font-family: 'Josefin Sans', Sans-serif;
font-family: 'Bitter', serif;*/

body
{
    background-image: url(../img/bg.jpg);
    width: 1020px;
    margin: auto;
}
#menu {
height: 60px;
width: 1020px;
background: black;
}
ul{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
li{
    list-style-type: none;
    padding: 0 10px;
  }

#baniere {
    height: 320px;
    width: 1020px;
    background: black;
    text-align: center;
    text-transform: uppercase;
}

#titre_baniere
{
    color: #cfa205;
    font-size: 133px;
    font-family: 'Josefin Sans', Sans-serif;
}

#réseaux_sociaux 
{
    height: 60px;
    width: 1020px;
    background-color: #e8e8e8;
}

#main
{
    background: white;
}

#txt_central 
{
height: 90px;
width: 900px;
text-align: center;
margin: auto;
}

#bloc_article
{
    height:675px;
    width:900px;
    display: flex;
    justify-content: space-between;
    margin: auto;


}

#article1 
{
   width: 260px;
}

#img_article1
{
    height: 195px;
    width: 260px;
}

#resume_article1
{
    height: 480px; 
    width: 260px;
}

#article2 
{
    width: 260px;
}

#img_article2
{
    height: 195px;
    width: 260px;
}

#resume_article2
 {
     height: 480px;
     width: 260px;

 }

 #article3 
 {
    width: 260px;

 }

 #img_article3
{
    height: 195px;
    width: 260px;
}

#resume_articl3 
{
    height: 480px;
    width: 260px;
}

