// IMPORT
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500');

// VARIABLES
$vert: #17721c;
$magenta: #72173C;

//MIXINS
@mixin poubelle_titre {
    font-weight: bold;
    background-color: rgba($color: #000000, $alpha: 0.3);
    padding: 5px;
}

// GENERAL
* {
    font-family: "Quicksand", Verdana, Geneva, Tahoma, sans-serif;
}

.bloc {
    width: 80%;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row !important;
}

// NAV
nav {
    .nav-item {
        color: $vert !important;

        &:hover {
            color: $magenta !important;
        }
    }

    .button {
        background-color: $magenta !important;

        &:hover {
            background-color: $vert !important;
        }
    }
}

// HERO
.hero {
    background-color: $vert !important;
    margin-bottom: 15px;
    box-shadow: 3px 3px 3px gray;

    h1,
    h2 {
        color: white !important;
    }
}

//MAIN
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    strong {
        font-style: normal;
        font-size: 1.3em;
        margin-bottom: 15px;
    }

    .subtitle {
        font-size: 1.8em !important;
    }

    #slider {
        height: 370px;
    }

    #poubelles {
        padding-top: 0;
    }

    ul>li {
        font-size: 1.3em;
    }

    article {
        width: 100%;
        margin: 15px;

        .flex {
            width: 50%;
            margin: auto;
        }

        img {
            width: 50px;
        }

        p {
            font-size: 1.3em;
        }

        #pb_colors {
            width: 70%;
            margin-top: 0;
        }
    }

    #important {
        margin-bottom: 0;
        border: 2px solid black;
        background-color: $vert;
        color: white !important;

        h2 {
            color: white !important;
        }
    }

    #poubelles_couleurs {
        border: 3px solid $vert;
        border-radius: 15px;
        width: 80%;

        .art_flex {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        .side {
            flex-direction: column !important;
            max-width: 50%;

            .yellow {
                @include poubelle_titre;
                color: yellow;
            }

            .green {
                color: $vert;
                @include poubelle_titre;
            }

            .blue {
                color: blue;
                @include poubelle_titre;
            }

            .marroon {
                color: $magenta;
                @include poubelle_titre;
            }

            article {
                margin: 15px 0;
                width: 50%;
            }
        }
    }
}

footer {
    background-color: $magenta !important;

    .content,
    strong {
        color: white !important;
        font-size: 1.2em !important;
    }

    a {
        color: #28A228;

        &:hover {
            color: #1BA39C;
        }
    }

    #social>a {
        margin: 25px;
    }
}

@media all and (max-width: 900px) {
    main {
        width: 100%;
        margin-top: 35px;

        .flex {
            flex-direction: column !important;
        }

        #poubelles_couleurs {
            border: none;
            width: 100% !important;
            flex-wrap: wrap;
            margin: auto;
            align-items: center;
            padding-top: 0;

            article {
                width: 95vw !important;
            }
        }
    }
}