/* GENERAL */
#main {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.flex {
    display: flex;
    align-items: center;
}

li {
    list-style-type: none;
}

/* NAV & HEADER */
nav {
    background-color: #f8f8f8;
    font-weight: bold;
}

nav ul {
    justify-content: space-around;
    margin-top: 0;
    margin-bottom: 0;
    height: 30px;
    color: #333333;
}

header {
    background-image: url("../img/intro-bg.jpg");
    color: white;
    height: 300px;/* Responsive 170px*/
}

header hr {
    border: 1px solid white;
    width: 20%;
}

em {
    font-style: normal;
}

.header {
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

header h1 {
    margin-top: 0;
}

/* SOCIAL */
button {
    width: 100px;
    height: 25px;
    border-radius: 5px;
    color: #333333;
}

.social {
    justify-content: space-around;
    width: 20%;
}

i {
    font-size: 0.8em;
}

/* SECTION & ARTICLE */
.bg_gris {
    background-color: #f8f8f8;
}

section {
    width: 100%;
    /*outline: 2px solid yellow;*/
    justify-content: center;
    height: 300px;
    color: #333333;
}

section img {
    height: 200px;
    padding: 0 25px 0 25px;
}

.texte {
    /*outline: 2px solid blue;*/
    width: 20%;
}

.r-art {
    flex-direction: row-reverse;
}

/* PIED DE PAGE */
footer {
    background-image: url("../img/banner-bg.jpg");
    color: white;
    height: 300px;/* Responsive 170px*/
    justify-content: center;
}

strong {
    font-size: 1.5em;
    padding-right: 50px;
}

.footnav {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 25%;
    /*outline: 2px solid red;*/
    margin-bottom: 20px;
}

.footnav ul {
    justify-content: space-around;
    width: 30%;
    /*outline: 2px solid green;*/
    padding-left: 0;
}

.footnav a {
    color: #4c82c4;
    text-decoration: none;
    font-weight: bold;
}

#copyright {
    color: #333333;
}

/* RESPONSIVE */
/* WIDTH MAX : 992PX */
@media all and (max-width: 992px) {
    .social {
        font-size: 0.8em;
    }

    button {
        height: 35px;
    }

    footer {
        flex-direction: column;
    }

    footer .social {
        margin-top: 25px;
    }
}

/* WIDTH MAX : 544PX */
@media all and (max-width: 544px) {
    #main {
        width: auto;
        margin: auto;
    }

    .social {
        font-size: 0.8em;
    }

    button {
        height: 35px;
    }

    .flex {
        flex-direction: column;
    }

    ul {
        display: flex;
        flex-direction: row !important;
        width: 100%;
        height: auto;
        font-size: 1em;
        padding-left: 0;
    }

    .footnav {
        margin-left: 0;
    }

    .footnav ul {
        justify-content: space-around !important;
        width: 100%;
    }

    #copyright {
        margin: auto;
        font-size: 0.8em;
    }

    footer {
        margin-top: 15px;
    }

    section {
        margin-top: 25px;
    }

    .texte {
        width: 90%;
    }
}