ul
{
    display:flex;
    justify-content:space-between;
}
body
{
     background-image: url("images/bg.jpg");
     background-attachment: fixed;
}
p
{
    color: #7a7a7a
}
#banniere
{
    display:flex;
}
.intro
{
    display:flex;
    justify-content: center;
}