body{
    background-color: aqua;

    display: flex;
    justify-content: center;
}

/* navbar */

div.navbar{
    background-color: red;
    width: 1020px;
    height: 60px;

    display: flex;
    justify-content: space-around;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a:link{
    text-decoration: none;
}

nav li{
    margin-right: 30px;
   }

nav a{
    color: white;
}

/* header*/

div.header{
    background-color: blue;
    width: 1020px;
    height: 320px;  

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 100px;
    color: #cfa205
}

/*social media*/

div.social_media{
    background-color: green;
    width: 1020px;
    height: 60px;
}


div.contain{
    background-color: white;
    width: 1020px;
    height: 915px;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

div.intro{
    background-color: orange;
    width: 900px;
    height: 90px;
}

div.colone{
    background-color: pink;
    width: 900px;
    height: 675px;
}