$bg: #17721c;
$color: #72173c;
$display: flex;
$text-align: center;

nav{
    height: 50px;
    background-color: $bg;
    padding-left: 300px;
    padding-right: 300px;
    margin-top: 10px;
        ul {
          display: flex;
          flex-direction: row;
          justify-content: space-between; 
          align-items: center;   
      }
        ul a {
          color: white;
          list-style-type: none;    
      }
}
#reseauxsociaux{
height: 100px;
background-color: $color;
display: $display;
justify-content: space-between;
font-size: 20px; 
margin-top: 0px;
color: $bg;
}

#reseauxsociaux div{
    width: 16%;
    display: $display;
    justify-content: space-evenly;
    align-items: center;
    /*margin-top: 50px;*/
}
#reseauxsociaux div a{
    font-size: 30px;
    height: 0px;
  
    justify-content: center;
    
}

#reseauxsociaux div a i:hover{
    cursor: pointer;
    color: yellow;
   
}

.barrederecherche {
  
    display: $display; 
   justify-content: flex-end;
    width: 10px;
    height: 30px;;
    font-size: 20px;
    background-color: $color;
    margin-top: 50px;
}
.letri{
    height: 200px;
    border: 2px black solid;
    margin-top: 90px;
    text-align: center;
    margin-bottom: 80px;
    background-color: $color;
    color: yellow;
    font-size: 30px; 
    h2{
      font-size: 40px;
    }
}
#pourquoicomment{
   margin-top: 200px;
  margin-bottom: 240px;
  padding: 20px;
      .pourquoi p{
        margin-right: 20px;
      }
  height: 500px;
  display: $display; 
  justify-content: center;
  flex-direction: row;
  text-align: center;
  color:$bg; 
      h2{
        font-size: 30px;
      }
      p{
        font-size: 20px;
      }
}
#lesdifferentesfamilles{
    height:400px;
    background-color:rgb(138, 224, 138);
    padding: 80px;
    text-align: center;
    color: $color; 
    h3{
      font-size: 30px;

    }
    p{
      font-size: 20px;
    }
}
#Bonasavoir{
  h4{
    font-size: 50px;
    font-family: 'Marcellus SC', serif;
    margin: 100px
  }
   box-shadow: 0px 0px 6px 6px $color;
  width: 100%;
    height: 600px;
    color:$bg;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 35px;
    margin-top: 200px;  
}    
.image{
  p{
    font-size: 32px;
    color: $bg;
    font-family: 'Marcellus SC', serif;
  }
  padding:20px ;
    height: 900px;
    text-align: center;
    margin-top: 200px;
}
.container-fluid
{
      h5{
        margin-top: 15px;
        color: $color;
        font-family: 'Donegal One', serif;
      }
      p{
        color:$color;
        margin-top: 15px;
        font-family: 'Donegal One', serif;
        font-size: 20px;
      }
  background-color: rgba(10, 192, 10, 0.397);
}
#autresproduits{
    h6{
      margin-top: 50px;
      text-align: center;
      font-size: 40px;
      font-family: 'Aclonica', sans-serif;
      margin-top: 200px;
  
    }
        p{
          margin-top: 15px;
          text-align: center;  
          margin-bottom: 200px;
          font-size: 20px;
        }
}
footer{
  background:$color;
  display: flex;
  flex-direction: column;
  color: $bg; 
  padding-top: 60px;
    .contact{
      text-align: center ;
      font-size: 20px;
      }
      .mentionlegale{
        text-align: center;
      }
    }
#scrollUp
{
position: fixed;
bottom : 10px;
right: -100px;
opacity: 0.5;
}

