*{
    margin:0;
}

@mixin marge($marge) {
    margin:$marge;
}

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
}

#menu_top{
  @include flex(row);
  justify-content: space-around;
  color: white;
    nav {

        ul {
            @include flex(row);
            justify-content: space-around;
            list-style: none;
            li{
                margin-right: 10px;
            }
   
        }
    }
    nav{
        @include flex(row);
        width: 60%;
    }
    
}

header{
    background-image: url("../images/header.jpg");
    height: 700px;
}
img{
    width:400px;
    columns: 2;
}
#intro{
    position: relative;
  @include flex(column);
    justify-content: center;
    align-items: center;
    height: 100%;
    h1{
       @include marge(10);
    }
    h6{
        @include marge(10);
    }
    #link_top{
        @include marge(10);
        button{
            background-color: yellow;

        }
        &:ȟover {
            background-color: rgb(255, 255, 255);      
    }
    }
}