.content{
    width: 700px;
}
header{
    width: 100%;
}

#navigation{
    width: 400px;
    margin-bottom: 0px;
    margin-right: 60px;

}
#navigation li{
    list-style: none;

}

.top{
    width: 800px;
    height: auto;
}
#menu_haut{
    width: 480px;
    font-size: 8px;
}