.content{
    width: 600px;
}
header{
    width: 100%;
}

#navigation{
    width: 450px;
    margin-bottom: 0px;
    margin-right: 80px;
    font-family: arial;
    font-size: small;
}
#navigation ul{
    margin-left: 0px;
    width: 450px;
}
#social{
    margin-left: 580px;
}
.top{
    width: 800px;
    height: 150px;
}
#menu_haut{
    width: 480px;
    font-size: small;
}
.menu_milieu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}