body{
    background-image: url("../images/4770.jpg");
    background-size: 100%;
}

.content{
    width: 1020px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    
   
}
.top{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    background-color: black ;

}
#social{
    position: absolute;
margin-left: 900px;
    margin-top:10px; 
}
header{
    height: 600px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 
    background-color: ;
}

#logo{
margin-right: 10px;
    width:130px;
}
#menu_haut{
    width:820px;
    height: 80px;
    margin-top: 30px;
    display: flex;
    margin-left: 60px;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:flex-end;
    
    
}
#navigation{
    width: 850px;
    margin-bottom: 0px;
    margin-right: 60
}
#navigation ul{
    list-style: none;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

a:link{
    color: white;
        font-size: 25;
    font-weight: bold;
    font-family: arial;
    text-decoration: none;
}

#navigation li{
    margin-right: 30px;

}

#carousel{
    width: 1020px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.article{
    display:flex;
    flex-direction: row;
    width: 1000px;

}
.article img{
    width: 80%;
    margin: 20px;
}
.sous_article1{
    display: flex;
    flex-direction: column;
}
.sous_article1 img{
    width: 440px;
}
.sous_article2{
    display: flex;
    flex-direction: row;
}
.sous_article2 img{
width: 200px;
    
}
#main{
    display: flex;
    flex-direction: column;
}
#main button{
margin-left: 450;
width: 150px;
}

.pages img{
    width: 30px;
    margin-left: 25%;
    margin-top: 20px;
}
#social img{
    width: 30px;
}