body {
    background-image: url("images/bg.jpg");
    background-position: center;
    height: 1010px;
    width: 1410px;
    display: flex;
    justify-content: center;

}



nav {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;}

header {
    color: gold;
    justify-content: flex-start; 
    flex-direction: row; 
   
}

.social {
    background-color: darkgrey;
    height: 60px;
    width: 1020px;
    display: flex;
    align-content: flex-start;
    flex-direction: row;

}

.intro {
    background-color: white;
    height: 90px;
    width: 900px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 920px, 90px;

}

section {
    background-color: white;
    display: flex;
    
}



ul {
    list-style: none;
    flex-direction: row;
    align-items: flex-start;
}