@import url('https://fonts.googleapis.com/css?family=Lato|Poppins');
$white-text: #fff;
$lato: 'Lato',
sans-serif;
$Poppins: 'Poppins',
sans-serif;
$yellow:rgba(255,
217,
0,
1);
body {
    margin: 0px;
}

header {
    height: 800px;
    display: flex;
    flex-direction: column;
    background-image: url(../img/header.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.h-title {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    h1 {
        margin-bottom: 0px;
    }
    p {
        color: $white-text
    }
    ul {
        padding-top: 30px;
        display: flex;
        list-style: none;
        a {
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 15px;
            padding-bottom: 15px;
            margin: 1em;
            text-decoration: none;
            color: $white-text;
            font-family: $lato;
            font-size: 11px;
            border-style: solid;
            border-color: white;
            border-width: 2px;
            background-color: rgba(255, 255, 255, 0.3);
        }
        a:hover {
            border-color: $yellow;
            background-color: $yellow;
        }
    }
    p {
        width: 540px;
        text-align: center;
        font-family: $lato;
        font-size: 12px;
    }
}

Nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    ul {
        display: flex;
        flex-flow: row wrap;
        list-style: none;
        padding-right: 170px;
        li {
            a {
                margin: 1.2em;
                text-decoration: none;
                color: $white-text;
                font-family: $lato;
                font-size: 12px;
            }
        }
    }
}

h1 {
    color: $white-text;
    font-size: 70px;
    font-family: $Poppins;
    font-weight: bold;
}

section {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    article {
        h2 {
            font-weight: bold;
        }
        .img-article2 {
            display: flex;
            justify-content: center;
            img {
                display: block;
                margin-left: 0px;
                margin-right: 0px;
                padding: 0px;
                width: 25%;
                height: 25%;
            }
        }
    }
}

.icone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    p {
        padding: 1em;
        width: 300px;
        font-family: $Poppins;
        color: #bdbdbd;
        font-size: 11px;
    }
}

.article3 {
    background-color: #0a1b2a;
    h2 {
        color: $white-text;
    }
    p {
        color: #bdbdbd;
        font-size: 12px;
    }
    .landscape {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-left: 25%;
        margin-right: 25%;
        img {
            width: 300px;
        }
    }
}