body {
    background-image: url("images/bg.jpg");
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    width: 1400px;
    height: 1010px;
}

.main {
    display: flex;
    flex-direction: column;
    width: 1020px;
}

header {
    display: flex;
    background-color: black;
    flex-direction: column;
}

h1 {
    color: #cfa205;
    font-size: 133px;
}

nav {
    color: white;
    flex-flow: row wrap;
    width: 1020px;
    height: 60px;
}

ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-around;
}

.ban {
    justify-items: center;
    width: 900px;
    height: 320px;
    text-align: center;
}

.social {
    background-color: lightgray;
    width: 1020px;
    height: 60px;
}

section {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    height: 675px;
}

img {
    width: 260px;
    height: 195;
}

article {
    width: 260px;
    height: 480px;
}

li:hover {
    color: #cfa205;
}

.intro {
    background-color: white;
    width: 1020px;
    height: 60px;
    text-align: center;
}