body
{
    
    font-family: Arial, serif;
    color: rgb(255, 255, 255);
  width: 1400px; 
  background-size: cover;
    
}
.logo
{
    width: 253px;
    margin-left: 25px ;
    display: flex;
    vertical-align: top; 
    

}
    
header{
    
    background-color: rgb(255, 6, 6);
    width: 1400px;
}

#réseaux_sociaux 
{
    height: 60px;
    display: inline-block;
    background-color: #fd0000; 
    align-items: right;
    justify-content: space-around;
    color: black; 
   margin: 0 500px;
 }

#réseaux_sociaux div{
    width: 26%;
    display: flex;
    justify-content: space-evenly;
    

}
#réseaux_sociaux div a{
    font-size: 2em;
    height: 36px;
    margin-top: 20px;
    
}

#réseaux_sociaux div a i:hover{
    cursor: pointer;
    color:#f5f5f4;
    
}
form {
    margin: 0;
    padding: 0;
   margin: 0 1080px; 
   
}
.menu {
    height: 60px;
    width: 1280px;
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
   
}
ul{
    list-style: none;
    padding: 0 60px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px;

}
li
{
    border: 5px; 
    font-weight: bold;
    float: right;
    
}
nav ul li a {
    color:#f7f5f5;
        font-size: 20px; 
        margin-bottom: 80px; 
        margin-right: 30px;
}
section{
    display: flex;
    
    justify-content: space-around;
    background: rgb(107, 106, 106);
    height: 900px;
    
  
}

article
{


    background-color: white; 
    height : 675px;
    width : 260px; 
}

#img{
  
    width: 253px;
}
.corps {
    background-color: rgb(160, 160, 160);
    display: flex;
    justify-content: space-around;
    
    flex-direction: column;
    margin-top: 25px; 
}

@media screen and (max-width: 1280px)


/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */

@media all and (min-width: 1024px) and (max-width: 1280px)


/* Sur les téléviseurs */

@media tv


/* Sur tous types d'écrans orientés verticalement */

@media all and (orientation: portrait)

p

{

    color: blue;

}


/* Nouvelles règles si la fenêtre fait au plus 1024px de large */

@media screen and (max-width: 1024px)

{

    p

    {

        color: red; 

        background-color: black;

        font-size: 1.2em;

    }

}