/* Mixin    */
/*  Variable    */
.bootstrap-slide {
  display: flex;
  display: flex;
  justify-content: center; }
  .bootstrap-slide .carousel-inner {
    width: 50%;
    height: 200px;
    margin-top: 10px; }

* {
  margin: 0px;
  Padding: 0px; }

body {
  background-color: #e5e2e2; }

h1, h2, h3 {
  font-family: "Quicksand:500", sans-serif; }

p {
  font-family: "Quicksand:400", sans-serif; }

h1 {
  color: white;
  text-align: center;
  margin: 20px 50px;
  padding: 15px 0;
  background-color: #17721c;
  border: 1px solid black; }

.section1 {
  display: flex;
  justify-content: space-around; }

.tri {
  width: 500px;
  margin: 0 50px;
  height: 185px;
  padding-left: 15px;
  border: 1px solid black; }
  .tri p {
    height: 92px;
    overflow-y: scroll; }

.section2 {
  margin: 0 50px; }
  .section2 h2 {
    padding-top: 25px; }

.dechet {
  display: flex;
  justify-content: space-around; }
  .dechet .bonasavoir {
    margin: 5px 5px; }
  .dechet .dechet-x {
    width: 300px;
    height: 185px;
    border: 1px solid black; }
    .dechet .dechet-x ul {
      height: 92px;
      padding: 0 35px;
      overflow-y: scroll; }
    .dechet .dechet-x p {
      padding: 0 15px; }
  .dechet .dechet-y {
    width: 300px;
    height: 185px;
    padding-left: 15px;
    border: 1px solid black; }
    .dechet .dechet-y p {
      height: 125px;
      overflow-y: scroll; }

.section3 h2 {
  padding: 25px 0 0 50px; }
.section3 p {
  padding: 0 50px; }

.famillepoubelle {
  display: flex;
  justify-content: space-between;
  margin: 0 50px; }
  .famillepoubelle .poubelle {
    width: 220px;
    height: 300px;
    color: white;
    background-color: #72173C;
    border: 1px solid black; }
    .famillepoubelle .poubelle ul {
      padding: 0 35px;
      height: 92px;
      overflow-y: scroll; }
    .famillepoubelle .poubelle h3, .famillepoubelle .poubelle p {
      padding-left: 10px; }

.section4 {
  margin: 0 50px; }
  .section4 ul {
    padding: 0 35px;
    height: 127px;
    overflow-y: scroll;
    border: 1px solid black; }
  .section4 h2 {
    margin-top: 25px; }

@media all and (max-width: 800px) {
  p, li {
    font-size: 80%; }

  header h1 {
    width: 220px;
    height: 40px;
    padding: 7px;
    font-size: 130%; }

  .section1, .dechet, .famillepoubelle {
    display: flex;
    flex-direction: column; }

  .section1 .tri {
    width: 220px;
    height: 170px;
    margin-top: 5px; }
    .section1 .tri h2 {
      font-size: 110%; }
    .section1 .tri p {
      height: 100px; }

  .section2 h2 {
    padding-top: 5px;
    font-size: 110%; }
  .section2 .dechet .dechet-x {
    width: 220px;
    height: 200px;
    margin-top: 5px; }
    .section2 .dechet .dechet-x ul {
      height: 120px; }
  .section2 .dechet .dechet-y {
    width: 220px;
    height: 200px;
    margin-top: 5px; }
    .section2 .dechet .dechet-y .bonasavoir p {
      height: 160px; }

  .section3 h2 {
    font-size: 110%;
    padding-top: 5px; }
  .section3 .famillepoubelle .poubelle {
    height: 200px;
    margin-top: 5px; }
    .section3 .famillepoubelle .poubelle h3 {
      font-size: 100%; }

  .section4 {
    width: 220px;
    height: 200px; }
    .section4 h2 {
      margin-top: 5px;
      font-size: 110%; }
    .section4 ul {
      height: 150px; } }

/*# sourceMappingURL=style.css.map */
