/* Mixin    */
@mixin affichage ($orientation) {
    display: flex;
    justify-content: $orientation;
}

/*  Variable    */
$couleurVerte: #17721c;;
$couleurMagenta:#72173C;
$bordureNoire: black;

.bootstrap-slide {
    display: flex;
    @include affichage(center);
    .carousel-inner {
        width: 50%;
        height: 200px;
        margin-top: 10px;
    }
} 

* {
    margin: 0px;
    Padding: 0px;
}

body {
    background-color: rgb(229, 226, 226);
}

h1, h2, h3 {
    font-family: 'Quicksand:500', sans-serif
}

p {
    font-family: 'Quicksand:400', sans-serif
}

h1 {
    color: white;
    text-align: center;
    margin:20px 50px;
    padding: 15px 0;
    background-color: $couleurVerte;
    border: 1px solid $bordureNoire;
}

.section1 {
@include affichage(space-around);
}

.tri {
    width: 500px;
    margin: 0 50px;
    height: 185px;
    padding-left: 15px;  
    border: 1px solid $bordureNoire;
    p {
        height: 92px;
        overflow-y: scroll;
    }
}

.section2 {
    margin: 0 50px;
    h2 {
        padding-top: 25px;
    }
}

.dechet {
    @include affichage(space-around);
    .bonasavoir {
        margin:5px 5px;
    }
    .dechet-x {
        width: 300px;
        height: 185px;
        border: 1px solid $bordureNoire; 
        ul {
            height: 92px;
            padding:0 35px;
            overflow-y: scroll;
        }
        p {
            padding: 0 15px;
        }
    }
    .dechet-y {
        width: 300px;
        height: 185px;
        padding-left: 15px;
        border: 1px solid $bordureNoire; 
        p {
            height: 125px;
            overflow-y: scroll;
        }    
    }
}


.section3 {
    h2 {
        padding: 25px 0 0 50px;
    }
    p {
        padding: 0 50px;
    }
}

.famillepoubelle {
    @include affichage(space-between);
    margin: 0 50px;
    .poubelle {
        width: 220px;
        height: 300px;
        color: white;
        background-color: $couleurMagenta;
        border: 1px solid $bordureNoire;  
        ul {
            padding:0 35px;
            height: 92px;
            overflow-y: scroll;
        }
        h3, p {
            padding-left: 10px;
        }
    }
}

.section4 {
    margin: 0 50px;
    ul {
        padding:0 35px;
        height: 127px;
        overflow-y: scroll;
        border: 1px solid $bordureNoire;
    }
    h2 {
        margin-top: 25px;
    }
}

@media all and (max-width: 800px) {
    p, li {
        font-size: 80%;
    } 

    header {
        h1 {
            width: 220px;
            height: 40px;
            padding: 7px;
            font-size: 130%;
        }
    }

    .section1, .dechet, .famillepoubelle {
        display: flex;
        flex-direction: column;
    }

    .section1 {
        .tri {
            width: 220px;
            height: 170px;
            margin-top: 5px;
            h2 {
                font-size: 110%;
            }           
            p {
                height: 100px;
            }

        }
    }


    .section2 {
        h2 {
            padding-top: 5px;
            font-size: 110%;
        }
        .dechet {
            .dechet-x {
                width: 220px;
                height: 200px;
                margin-top: 5px;
                ul {
                    height: 120px;
                }
            }
            .dechet-y {
                width: 220px;
                height: 200px;
                margin-top: 5px;
                .bonasavoir p {
                    height: 160px;
                }
            }   
        }
    }
    .section3 { 

        h2 {
            font-size: 110%;
            padding-top: 5px;
        }
        .famillepoubelle {
            .poubelle {
                height: 200px;
                margin-top: 5px;
                h3 {
                    font-size: 100%;
                }
            }
        }
    }

    .section4 {
        width: 220px;
        height: 200px;
        h2 {
            margin-top: 5px;
            font-size: 110%;
        }
        ul {
            height: 150px;
        }
    }

}