*{
    padding: 0;
    margin: 0;
}

html{
    height:100%;
}

body{
    height:100%;
}

button{
    border-radius: 5px;
    background-color:rgb(226, 218, 218);
    border:1px solid rgb(114, 107, 107);
    font-family: sans-serif;
    padding:8px 10px;
    text-transform: uppercase;
    font-size:0.58em;
    letter-spacing: 0.15rem;
    min-width:100%;
}
.autre{
    width:80%;
    display:flex;
    list-style-type: none;
}

hr{
    width:25%;
}

h1{
    color:white;
}

header h1{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 3.5em;
    text-shadow: 3px 3px 5px rgb(61, 55, 55);
}

header h2{
    font-family: sans-serif;
    font-weight: bold;
    color:white;
    font-size: 1.25em;
    text-shadow: 3px 3px 5px rgb(61, 55, 55);
    width:100%;
    margin-left:10.8%;
   
}
nav:first-child{
    background-color:rgb(204, 193, 193);
    padding:10px 10px;
}

nav:first-child li{
    margin-left: 2.5%;
}

nav:first-child li:first-child{
   margin-right:65%;
}

nav:first-child a{
    text-decoration:none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    color:rgb(114, 107, 107);
 
}

nav:first-child ul{
    display:flex;
    list-style-type: none;
    justify-content: flex-end;
    width:70%;
}

nav:first-child .autre{
   margin-top:0px;
}

header{
    background-image:url("../img/intro-bg.jpg");
    background-position: center;
    background-position: 20% 48%;
    height:82%;
    background-size: 115%
}

#contenu-text-header{
    height:100%;
    width:30%;
    margin:auto;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top:15%;
    height:30%;
}

#contenu-text-header ul{
    display:flex;
    list-style-type:none;
    justify-content: space-between;
    width:86%;
    
}

#contenu-text-header li{
    
    min-width:32%;
    
}

span{
    padding-right:5%;
}


#contenu-text-header hr{
    width:85%;
    margin-top: 0;
    margin-bottom: 0;
    
}

img{
    height:280px;
}

article{
    display:flex;
    justify-content: space-between;
    width:70%;
    margin:auto;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: 15%;
    
    

}

#reverse{
    display:flex;
    flex-direction: row-reverse;

}

section{
    background-color: rgb(204, 193, 193);
}

#pas-de-fond{
    background-color:white;

}

footer{
    height:50%;
}
#banniere-bas{
    background-image:url("../img/banner-bg.jpg");
    
    display:flex;
    height:60%;
    background-position: center;
    background-position: 25% 48.9%;
    background-size: 118%
}




#banniere-bas h2{
font-family: sans-serif;
font-weight: bold;
color:white;
font-size: 2.25em;
text-shadow: 3px 3px 5px rgb(61, 55, 55);
width:100%;
margin-left:10.8%;

}

#contenu-bb{
    display:flex;
    width:80%;
    margin-top:7%;
    margin:auto;
}

#banniere-bas ul{
    display:flex;
    list-style-type:none;
    width:80%;
}

#banniere-bas li{
    margin-left: 2.5%;
}
#banniere-bas a{
    margin-left: 2.5%;
}

footer p{
    font-family: sans-serif;
    /*font-weight: bold;*/
    font-size: 0.8em;
    color:rgb(114, 107, 107);
    margin-left: 19.2%;
    margin-top:1%;
}

.autre a{
    text-decoration:none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    color:rgb(6, 114, 255);
}

.autre li{
    margin-left:1.5%;
}

.autre{
    margin-left: 18%;
    margin-top:3%;
}

article h1{
    margin-top:5%;
    color:black;
    font-family: sans-serif;
    font-size: 2em;
}

article p{
    margin-top:5%;
}





