$vert: #17721c;
$magenta:#72173C;

@mixin fontblanc {
    background: rgba(255, 255, 255, 0.89);
    margin: 0 10%;
    text-align: center;
}

body {
    font-family: 'Quicksand', sans-serif;
    background: url("../img/recycling-makes-cents-1539973.jpg");
    background-size: cover;
    background-attachment: fixed;
}

nav {
    height: 80px;
    background: rgba(114, 23, 59, 0.699);
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
        color: white;
        font-size: 20px;
        font-weight: bold;
    }
}

#accueil {
    height: 80vh;

    h1 {
        font-size: 20vh;
        color: white;
        text-transform: uppercase;
        text-align: center;
    }

    .blocarticle {
        display: flex;
        justify-content: space-around;
        width: 100%
    }

    .articlesaccueil {
        height: 40vh;
        background: rgba(255, 255, 255, 0.555);
    }

    h2 {
        color: $vert
    }

    .articleImg {
        width: 100%;
        height: 80%;
    }

    .accueilBottom {
        height: 8vh;
        background: rgba(114, 23, 59, 0.699);
        color: white;
        text-align: center;
    }
}

#commentFaire {
    @include fontblanc();
    .bon{
        margin-bottom: 0px
    }    
}

#lesPoubelles {
    @include fontblanc();
    h4{
        margin-top: 0;
padding-top: 30px;
    }
}

;

#lesAutresProduits {
    @include fontblanc();
    img{
        width: 75%;
        margin-top: 10%;
    }
}

.trash{
    width: 100%;
    display: flex;
    justify-content: space-around;
    img{
        width: 15%;
    }
}
