


h1
{
    font-size: 40px;
    font-family: Impact, "Arial", Verdana, sans-serif ;
    border: 3px blue inset;
}
h1
    {
        background-color: rgba(253, 116, 4, 0.555);
        text-align: center;
        animation-direction: reverse; 
    }
p 
    {
        text-align: center; 
        color: rgb(21, 22, 54);
        font-family: Verdana, Geneva, Tahoma, sans-serif ; 
        font-size: 20px;
    }


.imageflottante
{
    float: left;
    border: 3px black inset;
    margin-left: 10px;
    transform: rotate(10deg);
    
}

body
{
    background-image: url("neige2.jpg")  ;
}
#conteneur

{

    display: flex;

    flex-wrap: nowrap;

    justify-content: flex-end; 
}


header
{
   
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
   
}

h3
{
    text-align: center; 
    font-size: 50px; 
    box-shadow: 0px 0px 5px 6px #1c1a19;
}


#bloc_page

{

    width: 900px;

    margin: 40px;

}
@media all and (max-width: 1024px)
{
    #bloc_page
    {
        width: auto;
    }
}
nav ul

{

    list-style-type: none;

    display: flex;
 
    
}


nav li

{

    margin-left: 25px;
    color: #181818;
    margin-right:20px;
    margin-left:20px;

}


nav a

{

    font-size: 2em;

    color: #fcfcfc;
 
    padding-bottom: 5px;
    
   -webkit-transforme: rotateZ(-30deg);
    
    -ms-transforme: rotateZ(-30deg);
    
    border-radius:4%;
   
    box-shadow: inset  0 0 25px #0508a8;
    
  
}
@media all and (max-width: 1024px)
{
    nav
    {
        width: auto;
        text-align: left;
    }
    
    nav li
    {
        display: block;
        padding-left: 4px;
    }
    
    nav a
    {
        font-size: 1.1em;
    }
    
    nav a:hover
    {
        border-bottom: 0;
    }
}
#banniere_image

{

    margin-top: 15px;

    height: 200px;

    /*! border-radius: 5px; */

    background: url('san-francisco.jpg') no-repeat;

    position: relative;

    box-shadow: 0px 4px 4px #1c1a19;

    margin-bottom: 25px;

    
}
@media all and (max-width: 1024px)
{
    #banniere_image
    {
        display: none;
    }
}
h2
{
    font-size: 50px;
    font-family: Impact, "Arial", Verdana, sans-serif ;
    border: 3px rgb(245, 150, 7) inset;
    text-shadow: 2px 2px 4px rgb(245, 153, 68);
    text-align: center;
}

.conteneur2 {
    border: 5px solid rgb(0, 122, 96);
    margin-top: 10px;
}
.conteneur
 {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    margin-bottom: 30px;
    height: 150px;
    border-radius: 15px;
}
.element
{
    margin-top: 10px;
    margin-right: 5px;
}

@font-face {
    font-family: "San Francisco";
    font-weight: 200;
    src: url("//applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff2");
  }
  
  body, html {
      height:100%;
      width:100%;
      font-family: "San Francisco";
      font-weight: 200
  }
  .flexFont {
      height:8em;
      
      background-color:#ffffff00;
      padding:1%;
      margin: 10px;
  }
  
  .smaller {
      font-size: 0.7em;
      background-color:red;
      width: 10em;
  }
  h2{
      justify-content: center;
  }
fieldset{
    display: flex;
}
#formulaire
{
    text-align: center;
    font-size: 30px;
    
    padding-bottom: 5px;
    margin-top: 800px;

}