<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My chat Box</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">

</head>
<body>


    <header>
        <h1> Welcome in my Chat Box ! </h1>
    </header>



    <section class="chat"> 
          
        <div id="chatbox"> 
      
            <div>
               <input v-model="pseudo" type="text" placeholder="Type your Pseudo">
               <input v-model="message" type="text" placeholder="Type your Message"> 
               <button v-on:click="send_function"> Send it ! </button>

      
            </div>
     
     
     
            <p v-for="message in tableau"> 

              {{ pseudo}} : {{message.commentaire}} {{time}}

              <button v-on:click="removeElement(index)">clear</button>


              <input v-show="message.edit == true" v-model="message.commentaire" @keyup.enter="message.edit=false; $emit('update')">
              <button class="button is-normal" @click="message.edit = true">Edit</button>
             

            </p>
        
 



         </div>


          
    </section>



    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

     <script src="main.js"></script>





</body>
</html>