@keyframes montest{
             0% {
    transform: translateX(0px);
}
25% {transform: scale(1.3)};

50% { 
    transform: translateX(150px);
}
75% {
    transform: translateX(500px);
}
85% {
    transform: translateY(500px)
}
100% {
    transform: translateX(1500px)
    rotate(30deg);
}
}
div
{margin: 100px;
width: 200px;
height: 150px;
background-color:#008;
transition-property: background-color;
transition-duration:2s;
transition-timing-function:ease-in-out;
}
div:hover
{
    background-color:goldenrod;
    animation: montest 3s linear alternate infinite;
}